[2018-06-10 18:52] #152 closed

[2018-06-10 19:39] #211 closed

[2018-06-10 19:39] Andarist commented on #211
I've fixed the issue, going to make a new release in a moment.

[2018-06-18 10:01] swernerx opened #220 "Unexpected situation arose thrown when module transformer is enabled."
There seems to be a major issue right now when accidiently enabled the module transformer.

It just throws with this error:

[code]

which is neither helpful or correct as it seems.

In this case it seems that Babel Plugin Rollup is unable to match the generated code to one of the snippets. The code throwing this error looks like this:

[code]

I understand that the code has to check something her

[2018-06-18 11:20] n1313 commented on #89
In my case I forgot to call `super(props);` in my component constructor, and that was the problem.

[2018-06-18 13:01] andreyantipov opened #221 "Doesn't work with babel-preset-airbnb"
[!] (babel plugin) Error: It looks like your Babel configuration specifies a module transformer. Please disable it. See https://github.com/rollup/rollup-plugin-babel#configuring-babel for more information

package.json
[code]

.babelrc
[code]

rollup.config.js
[code]

[2018-06-18 13:06] andreyantipov commented on #221
babel-preset-airbnb debug output

[code]

[2018-06-21 21:19] tobiastimm opened #222 "Issue with @babel/typescript"
When I use `'@babel/typescript'` I need to add `.ts` and `.tsx` to my imports. Otherwise these files can't be resolved.

`src/index.ts`
[code]

[code]

[2018-06-21 22:02] Andarist commented on #222
U can use `rollup-plugin-node-resolve` and its `extensions` option. This has nothing to do with `rollup-plugin-babel`

[2018-06-21 22:02] #222 closed

[2018-06-21 22:04] Andarist commented on #221
U'd have to share a repository with the issue reproduced, without it I'm not being able to tell what's the culprit.

[2018-06-21 22:06] Andarist commented on #89
Overally it seems like the issue is resolved. It's known how to workaround this (reordering). I'm going to close this issue - if you think it shouldnt get closed please raise a new issue and link to this one.

[2018-06-21 22:06] #89 closed

[2018-06-21 22:10] Andarist commented on #220
Would love to accept a PR to improve the current situation 😉 Although the additional check could be improved (I think). Are u sure that what u have pasted is the output? `_inherits2` doesnt seem to be used.

[2018-06-21 22:11] Andarist commented on #210
Try to reorder ur plugins, babel should come before commonjs.

[2018-06-21 22:11] #210 closed

[2018-06-21 22:14] Andarist commented on #209
U can add:
[code]
to your main entry point, this will make `regeneratorRuntime` a global though. Somewhat better solution is to use `babel-plugin-transform-runtime` appropriately configured.

[2018-06-21 22:14] #209 closed

[2018-06-21 22:15] Andarist commented on #208
Have u resolved ur issue by any chance? Not sure if I should dive into it.

[2018-06-21 22:16] Andarist commented on #40
Closing this as outdated and not actionable due to lack of reproduction case. Feel free to open new issue.

[2018-06-21 22:16] #40 closed

[2018-06-21 22:19] Andarist commented on #65
Closing this as outdated - from what I know latest rollup releases tree-shake babel helpers correctly. Feel free to open new issue.

[2018-06-21 22:19] #65 closed

[2018-06-21 22:19] Andarist commented on #67
Closing this as outdated. Feel free to open new issue.

[2018-06-21 22:19] #67 closed

[2018-06-21 22:21] Andarist commented on #69
Closing this as outdated and not actionable due to lack of reproduction case. Feel free to open new issue.

[2018-06-21 22:21] #69 closed

[2018-06-21 22:22] Andarist commented on #74
Closing this as outdated, I hope you have worked around your issue. Feel free to open a new one it stays unresolved.

[2018-06-21 22:22] #74 closed

[2018-06-21 22:24] Andarist commented on #75
Closing this as outdated and not actionable because it seems like it should be reported in babel itself. This repo contains a rollup plugin that just runs babel transforms over files, it doesn't specify what transforms are ran and it doesn't have anything to do with what transforms actually do. Feel free to open new issue.

[2018-06-21 22:24] #75 closed

[2018-06-21 22:28] Andarist commented on #129
Please read my answer [here](https://github.com/rollup/rollup-plugin-babel/issues/209#issuecomment-399260174)

[2018-06-21 22:28] #129 closed

[2018-06-21 22:31] Andarist commented on #135
Closing this as outdated and not actionable here - this plugin just runs babel over ur input files. It doesn't try to resolve dependencies or anything - if you find yourself having such issue it's an issue of ESM/CJS interoperability and should be raised in commonjs plugin repo.

[2018-06-21 22:31] #135 closed

[2018-06-21 22:33] Andarist commented on #145
Closing this as outdated and not actionable here - this plugin just runs babel with specified options over your files, it doesn't actually care what transforms etc you are using. If there is some parsing error it means that you have configured your babelrc wrongly somehow.

[2018-06-21 22:33] #145 closed

[2018-06-21 22:36] jamesplease commented on #208
@Andarist , I just tried the reproducible example (linked above, also [here](https://github.com/jamesplease/react-composer/pull/54)) and the issue is still happening for me.

[code]

If you get around to digging in, I'd be curious to know if you find anything!

[2018-06-22 19:41] Andarist commented on #77
That is because it's generated from rollup itself in the CJS finalizer. If you want to achieve es3 compatibility with this you might want to check if there is rollup option for that or you might raise an issue there. Not much we can do about this one here.

[2018-06-22 19:41] #77 closed

[2018-06-23 15:43] Andarist commented on #83
I've tried to reproduce on given commit, but without success. Closing this issue because it's old and there is high chance that it doesn't happen anymore. If it does - please create new one.

[2018-06-23 15:43] #83 closed

[2018-06-23 15:46] Andarist commented on #78
I hope you have got ur setup working by now. You might read about simple rollup+babel setup [here](https://developers.livechatinc.com/blog/how-to-create-javascript-libraries-in-2018-part-1/) - if any other example is needed, let me know and I'll try to provide one.

[2018-06-23 15:46] #78 closed

[2018-06-23 15:50] Andarist commented on #93
The most likely issue here is that babel transforms classes into IIFES, it's really hard for rollup (and other tools) to tree-shake those, because tools are unsure if it's safe to drop them - IIFE might contain some relevant side effects that you would expect to be preserved (in this case of course you dont, but a tool cannot know that). Issues such as this and others (i.e. static properties) are

[2018-06-23 15:50] #93 closed

[2018-06-23 15:51] Andarist commented on #97
Closing because original author has not provided a repro case that would allow finding the cause & fixing this.

[2018-06-23 15:58] Andarist commented on #110
We have some tests for passing ur own `onwarn` function and it seems to be working. Maybe it's something specific about ur setup with gulp? Without having a full repro case I cannot investigate this any further.

[2018-06-23 15:58] #110 closed

[2018-06-23 16:06] Andarist commented on #112
I couldn't back track the issue to the commit with broken setup. I'm using rollup + rollup-plugin-babel + uglify for quite some time and I haven't noticed such issues - this leads me to think that it's not rollup-plugin-babel issue, but probably some other.

Inspecting both rollup-plugin-uglify and rollup-plugin-babel-minify source I see both use rollup's `transformBundle` hook so I assume they bo

[2018-06-23 16:06] #112 closed

[2018-06-23 16:08] Andarist commented on #113
I see you have fixed ur issue (based on linked thread). I'm going to close this one then.

[2018-06-23 16:08] #113 closed

[2018-06-23 16:10] Andarist commented on #116
This issue is quite old, not sure if it's still happening and I cannot assess that by looking at issue's title + posted description.

Going to close it, but if there is something to be fixed please explain it in more detail to me and I'll try to fix it.

[2018-06-23 16:10] #116 closed

[2018-06-23 16:14] Andarist commented on #120
The issue seems to be resolved, it's all about disabling module transform and as other have posted the easiest nowadays is just to use babel-preset-env and have it configured like this:
[code]

Please remember that when passing a preset/plugin to babel with options you have to wrap it in a tuple of `[name, options]`

Broken config might look like this:
[code]

[2018-06-23 16:14] #120 closed

[2018-06-23 16:28] Andarist commented on #121
Based on the fact that this plugin doesnt do anything with generated sourcemaps other than just returning what it got from babel it seems to me that this is not this plugin's fault, but maybe babel's or rollup's. Anyhow the issue doesn't belong to this repository.

If there is still some issue around this I would expect it be a rollup's fault - maybe it doesn't change generated line numbers in a s

[2018-06-23 16:28] #121 closed

[2018-06-23 17:23] #123 closed

[2018-06-23 17:28] Andarist commented on #130
You'd have to share a full, runnable repro repository - without that we might not be able to help you. Knowing you had this issue quite long time ago I hope you have worked it out by now.

[2018-06-23 17:28] #130 closed

[2018-06-23 17:31] Andarist commented on #138
Sorry, but the provided description is not enough to help you. Also - this plugin just helps with running babel over ur files when bundling with rollup. It doesn't really do anything special regarding sourcemaps - it just pass them to rollup. If there is some sourcemap issue I would suspect rollup or babel being a culprit, not this simple plugin.

[2018-06-23 17:31] #138 closed

[2018-06-23 17:32] Andarist commented on #143
This is perfectly valid config. I use similar myself.
[code]

Does it answer your question?

[2018-06-23 17:32] #143 closed

[2018-06-23 17:33] Andarist commented on #144
What @zaygraveyard said 😉

[2018-06-23 17:33] #144 closed

[2018-06-23 17:34] #146 closed

[2018-06-23 17:40] yowainwright commented on #83
Thanks for your help with this @Andarist.

[2018-06-23 17:43] Andarist commented on #148
`exclude` tells this plugin not to run babel transform over some files (in this example it shouldnt run it over files in `node_modules`).

This is something entirely different from the issue presented here - by using `transform-runtime` you are putting imports/requires to `babel-runtime` modules into your source files (not into your node_modules). By doing so rollup includes them in the dependency

[2018-06-23 17:43] #148 closed

[2018-06-23 17:46] Andarist commented on #149
`regenerator` package has somewhat weird structure and I suspect `commonjs` plugin might fail resolving it appropriately.

This has nothing to do with this plugin though, it doesn't try to resolve any dependencies. It just transforms your code with babel.

This issue should be narrowed down (or checked if it still happens) and reported in appropriate repository.

[2018-06-23 17:46] #149 closed

[2018-06-23 17:47] Andarist commented on #159
Closing because original author has not provided a repro case. Cannot help without that.

[2018-06-23 17:47] #159 closed

[2018-06-23 17:48] #162 closed

[2018-06-23 18:38] Andarist commented on #173
Not sure why this was reported as rollup-plugin-babel issue, but with high confidence I believe it is a `rollup-plugin-commonjs` issue. I think there are known workarounds for this, but can't cite them from my head, so you'll gonna have to browse its issues etc.

[2018-06-23 18:38] #173 closed

[2018-06-23 18:58] Andarist commented on #178
It seems you were looking for this:
[code]

[code]

This produces your expected output
[code]

[2018-06-23 18:58] #178 closed

[2018-06-23 19:07] Andarist commented on #183
Please provide a repro case on which I could look and narrow it down. Without it there is nothing I can do to help you guys.

If you create one please open a new issue.

[2018-06-23 19:07] #183 closed

[2018-06-23 19:09] Andarist commented on #186
The issue seems to be resolved with advice linked by @mo . With new rollup-plugin-babel (currently in beta because it's going to target babel@7) you won't have to include `external-helpers` plugin at all.

[2018-06-23 19:09] #186 closed

[2018-06-23 19:10] Andarist commented on #188
There was a fix released some time ago, please try new rollup-plugin-babel and if the problem persists please report it back as a new issue.

[2018-06-23 19:10] #188 closed

[2018-06-23 19:11] #205 closed

[2018-06-23 20:15] #191 closed

[2018-06-23 20:16] Andarist commented on #191
Gonna prepare a 3.x release with merged fix in a minute.

[2018-06-23 20:23] Andarist commented on #217
That's really a question for babel. Not sure what exact polyfills got added in this case - but maybe all of it was because you have used `Set` and `transform-runtime` just pulled its polyfill into ur bundle?

[2018-06-23 20:23] #217 closed

[2018-06-26 15:03] swernerx commented on #220
I'll have a look!

[2018-06-27 00:42] ekampf commented on #72
@Inateno did you find a solution?

[2018-06-27 08:48] swernerx commented on #220
Playing with your test suite... adding my preset to one of the class tests I see the following output code being generated:

[code]

WIP

[2018-06-27 09:04] swernerx commented on #220
Seems like I found the smallest .babelrc combination which crashes:

[code]

[2018-06-27 09:35] swernerx commented on #220
PR is ready. Please check whether this is okay. Thanks!

[2018-06-28 15:20] Andarist commented on #221
[`babel-preset-airbnb`](https://github.com/airbnb/babel-preset-airbnb/blob/dc5f94635b2f6e675570ee33fab924bb02dc8e6b/index.js#L45) adds `commonjs` transform too. You have to disable it.

[2018-06-28 15:20] #221 closed

[2018-06-28 17:44] Andarist commented on #208
Rollup has swallowed original stack trace - which is:
[code]

From what I have checked it fails in [transform-react-remove-prop-types's isStatelessComponent function](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types/blob/517bc5107993d738001438235c27b05cfc246969/src/isStatelessComponent.js#L73). I think it tries to follow ur returned value to check if it returns JS

[2018-06-28 17:44] #208 closed

[2018-06-28 18:13] jamesplease commented on #208
@Andarist , thank you _so_ much for looking into this! I don't think that I have the Rollup knowledge to have figured this out myself.

I'll go ahead and open an issue on that project. Thank you!

[2018-06-29 09:03] Andarist commented on #220
Fixed by #225

[2018-06-29 09:03] #220 closed

[2018-06-30 10:55] andreyantipov commented on #221
Many thanks Mateusz!

[2018-06-30 10:57] Andarist commented on #221
Not a problem 😃

[2018-07-01 16:10] donysukardi opened #228 "Getting babelHelpers is not defined (v3.0.6)"
Changes in https://github.com/rollup/rollup-plugin-babel/commit/f8182c607b384d1c014b0e7cb70d4feb69073003 (v3.0.6) seem to be breaking my build which was previously working fine.

I am getting `babelHelpers is not defined` error.

![image](https://user-images.githubusercontent.com/410792/42136328-b2c2d31e-7d8b-11e8-9998-f9faced79a18.png)

[code]

It seems to be working fine after I remove `"babel-p

[2018-07-01 16:55] Andarist commented on #228
You should include it when using 3.x version. Could you share ur repository? Or some other with the issue reproduced?

[2018-07-01 19:47] sonaye commented on #228
Same here, had to downgrade to 3.0.5 to get it working.

<img width="1212" alt="screen shot 2018-07-01 at 10 43 07 pm" src="https://user-images.githubusercontent.com/23000873/42138078-53ea7730-7d80-11e8-8a27-66c323523aac.png">

To reproduce `yarn build` https://github.com/sonaye/react-is-responsive with (3.0.5 and 3.0.6) and compare `lib/index.js`.

[2018-07-01 21:16] Andarist commented on #228
I've reverted the last change and published a new version - bascailly 3.0.7 is the same as 3.0.5 now. Need to figure out how to fix the issue so the change from 3.0.6 can get published too.

[2018-07-01 21:34] Andarist commented on #228
Closing this as solved, not sure if what got merged in and released as 3.0.6 is possible. I've proposed [alternative solution](https://github.com/rollup/rollup-plugin-babel/pull/227#issuecomment-401634742) for a person who made a PR.

[2018-07-01 21:34] #228 closed

[2018-07-03 03:27] donysukardi opened #229 "Exclude node_modules in yarn workspaces"
I'm trying to use `rollup-plugin-babel` with yarn workspaces. However I notice that the usual `exclude: 'node_modules/**'` option doesn't seem to catch node_modules that are hoisted to the root of the workspaces, i.e. `../../node_modules`.

[code]

Is there any pattern that I could use that will match all node_modules folders?

[2018-07-03 08:29] Andarist commented on #229
I have not tried it, but could u check smth like `**/node_modules/**`?

[2018-07-03 09:10] donysukardi commented on #229
Tried that, but it didn’t work. I think it’s an issue with minimatch - https://github.com/isaacs/minimatch/issues/30. There doesn’t seem to be a pattern that could satisfy all paths with node_modules

[2018-07-03 18:22] Andarist commented on #229
Actually those patterns are handled by [micromatch](https://github.com/rollup/rollup-pluginutils/blob/a4f039b734e2c119b79e6b67ab588bcc097f7b36/package.json#L33).

Seeing the [source code](https://github.com/rollup/rollup-pluginutils/blob/a4f039b734e2c119b79e6b67ab588bcc097f7b36/src/createFilter.js#L6) it seems that u can actually use RegExp to have better control than with glob patterns. You could

[2018-07-03 18:22] #229 closed

[2018-07-04 10:29] Andarist commented on #111
@TrySound I'd like to fix this, but I'm thinking about adding `extensions` option rather than embedding it into default `include` - it seems to me that it's too easy to override `include` without being aware that it suddenly would allow other extensions. WDYT?

[2018-07-04 10:31] TrySound commented on #111
I'm fine with it. Extensions is easier way.

[2018-07-11 12:42] giuvincenzi opened #230 "Error when using external-helpers with babel 7"
npm config
[code]
rollup
[code]

[code]

output
[code]

[2018-07-11 14:13] Andarist commented on #230
Could u share a repository with the issue reproduced in it?

Either way you don't have to use `'@babel/plugin-external-helpers'` with latest rollup-plugin-babel@beta - this optimization is done automatically for u.

I'd like to improve the error message if needed, but not sure what happened for you.

[2018-07-12 07:38] giuvincenzi commented on #230
Ok thanks.

In the attachmen there's the project you asked for.
I used node 8.9.0.

[rollup-plugin-babel-issues_230.zip](https://github.com/rollup/rollup-plugin-babel/files/2187559/rollup-plugin-babel-issues_230.zip)

[code]

[2018-07-12 15:28] #230 closed

[2018-07-19 06:03] mesqueeb opened #231 "How to make rollup use `@babel/core` (beta 7)"
There's a package I need to use Rollup on, however, I need Rollup to use
`@babel/core": "^7.0.0-beta.49",` since it's required in that package.

However, when running `rollup` it says that `babel-core` is not found.
Any advice on what I should change to my setup?

### Rollup.config.js
[code]
### .babelrc
[code]
Thakns a lot!

[2018-07-19 07:33] Andarist commented on #231
Babel 7 is supported by rollup-plugin-babel@beta , please install that version

[2018-07-19 07:33] #231 closed

[2018-07-19 15:00] mesqueeb commented on #231
@Andarist Thank you so much! It worked!!!

[2018-07-24 13:02] adolt commented on #217
Maybe you can treat `babel-runtime` as an **external** dependency.

[2018-07-27 13:21] aendrew commented on #209
@Andarist Okay, but that's not a very explicit answer even though you're pointing other issues at it. Would you mind please going into slightly more detail about how one might appropriately configure `babel-plugin-transform-runtime` in the context of your plugin? Thanks.

[2018-07-27 13:31] aendrew commented on #209
If "use `babel-plugin-transform-runtime` appropriately configured" is a bit oblique to anyone arriving at this issue:

1. `$ npm i babel-plugin-transform-runtime`
2. Here's my Rollup `plugins` stanza:
[code]

N.b., this is a React context, you might want to remove the `react` preset and the `transform-object-rest-spread` plugin, depending on your use case.

[2018-07-29 12:36] oliviertassinari commented on #208
@Andarist I'm looking into the issue. How can I have access to the original stack trace?

[2018-07-29 12:41] Andarist commented on #208
I've just wrapped [this line](https://github.com/rollup/rollup-plugin-babel/blob/9852a4769544e549add9e4e00a858a68f3c57719/src/index.js#L68) manually in try/catch,  logged the error and rethrow it.

Want to prepare a PR for rollup to log the stack trace, because its imho too valuable info to just swallow it - but just couldnt get time to do that at the moment.

This error should be reproducible wit

[2018-07-29 12:43] oliviertassinari commented on #208
@Andarist Thanks, well, it's a funny issue 😆. The babel plugin is using a recursive logic, so does the source code it's trying to explore. Let's see how I can fix that.

[2018-07-29 17:58] jamesplease commented on #208
It looks like @oliviertassinari figured it out, and got this released as `babel-plugin-transform-react-remove-prop-types@0.4.14`.

Thank you both! I don't think I would have been able to figure this out without the two of you!

[2018-07-30 12:29] charlestati opened #232 "rollup-plugin-babel does not use .babelrc"
Using this:

[code]

I get the `Support for the experimental syntax 'objectRestSpread' isn't currently enabled`

I edited my `.babelrc` to include `@babel/plugin-proposal-object-rest-spread`:

[code]

But it doesn't change anything unless I include it directly in `rollup-plugin-babel`'s config:

[code]

Why isn't `rollup-plugin-babel` reading my `.babelrc`? 😪

[2018-07-30 12:32] Andarist commented on #232
You'd have to share a repository with the issue reproduced, without it I won't be able to help you.

[2018-07-30 13:35] Andarist commented on #232
babel@7 wont use ur local `.babelrc` config to transpile files inside `node_modules`. You can rename ur config file to `babel.config.js` - it should work.

[2018-07-30 13:35] #232 closed

[2018-08-10 02:17] looch opened #236 "Can't work with experimentalPreserveModules options"
Can't work with experimentalPreserveModules options, an error is as follows:

[2018-08-10 08:36] Andarist commented on #236
Could u prepare a sample repo illustratung the problem?

[2018-08-11 22:10] wtgtybhertgeghgtwtg opened #237 "Inconsistencies with built-ins when using 'usage' mode."
Say I have a file like so
[code]
and a `.babelrc.js`
[code]
If I transform `input.js` with `@babel/core`
[code]
the debug will show that the "es7.symbol.async-iterator" polyfill is loaded.  However, this is not the case with `rollup-plugin-babel`
[code]
I think this is because the `helperPlugin` doesn't do [the stuff Babel usually does if 'helperGenerator' isn't set](https://github.com/babel/babel

[2018-08-15 01:52] DrSensor commented on #183
Probably this is because of incompatibility between babel 7/beta and rollup.
For anyone who stumbles this issue, try to use babel 6/stable version and see if it works 🙂

[2018-08-21 22:28] jwineman commented on #229
`rollup-plugin-babel` @ `3.0.7` depends on `rollup-pluginutils`@`^1.5.0` which [doesn't check for `RegExp`](https://github.com/rollup/rollup-pluginutils/blob/v1.5.0/src/createFilter.js#L6). I looks like [the `RegExp` check wasn't added until `2.0.0`](https://github.com/rollup/rollup-pluginutils/blob/v2.0.0/src/createFilter.js).

Since 4.0 is in beta would you accept a PR against 3.x which upgrades

[2018-08-22 17:09] Andarist commented on #132
@ssimpo could u create a simple repro?

[2018-08-22 17:16] Andarist commented on #229
In general I would but the problem is that rollup-pluginutils@2 switched to using micromatch instead of minimatch and while they should be pretty compatible, it's still a breakage risk and I kinda don't have time to check the differences between those 2 and deal with potential problems later.

You could prepare a PR to current master to support new option - `filter` and backport it to v3 too. That

[2018-08-24 08:17] #111 closed

[2018-08-24 11:43] ssimpo commented on #132
@Andarist I in the middle of a project right now but will try to in the next few weeks. So, sorry for commenting then offering no further help!  Since, there are only two people commenting here I figure it can't be super urgent (probably something obscure we are both doing that triggers it).

I'll also, have a dig around to see if I can see where it is coming from.  The project I am getting these

[2018-08-24 21:37] zeorin opened #239 "Please use a semver range for peerDependency"
[code]
[code]
I'm assuming that any 6.x babel-core version ought to work with 3.0.7. Everything _works_, but there's the annoying warning message. I try to remove all warnings so that there's a high signal-to-noise ratio in my terminal output.

Please consider using an appropriate semver range for specifying the peerDependency.

[2018-08-24 21:40] Andarist commented on #239
PRs are welcome here 😉

[2018-08-24 21:42] loganfsmyth commented on #239
Is this an issue with Yarn somehow? `6` should work in this context, according to http://jubianchi.github.io/semver-check/

<img width="745" alt="screen shot 2018-08-24 at 2 40 45 pm" src="https://user-images.githubusercontent.com/132260/44609265-d172ad80-a7ab-11e8-9c4d-be0a0efebdfe.png">

[2018-08-25 18:14] wtgtybhertgeghgtwtg commented on #237
Would this repo work?
https://github.com/wtgtybhertgeghgtwtg/rollup-plugin-babel-bug-demo

[2018-08-26 19:49] Andarist commented on #237
Yeah, this helps a lot! As mentioned this is slightly tricky & I don't have much time lately, but I'll try to tackle this as soon as I can.

[2018-08-28 07:46] nickmccurdy commented on #239
4.0.2 fixes it.

[2018-08-28 09:14] PutziSan opened #241 "I get an error at my TypeScript-React-library with 4.0.2"
On Windows 10 with node v8.11.3 I get following error when using `rollup-plugin-babel@4.0.2`

![image](https://user-images.githubusercontent.com/13392042/44713363-43503d00-aab3-11e8-8828-c6f00378ec78.png)

with `4.0.0-beta.8` it builds without any errors.

You can see the configs online at github: [babel.config.js](https://github.com/PutziSan/formik-fields/blob/master/babel.config.js) + [rollup.co

[2018-08-28 09:42] Andarist commented on #241
You probably have to add `.ts` as valid extension to the config passed to rollup-plugin-babel.
[code]

I might take a look later if we could do this automatically, but I'm not sure how safe it is to assume those things.

[2018-08-28 11:02] PutziSan commented on #241
Yep, that fixes the problem. Thanks!

I don't think you have to recognize this automatically, but a small section in the documentation would be good. You might also want to add a hint in the changelog file that this option could break existing configurations. (If you read it correctly, you actually come to the same conclusion, but it is currently up to the user to draw this conclusion ;) )

[2018-08-28 11:07] #241 closed

[2018-08-28 14:36] blakemann opened #242 "Imported modules that have a package.json beside or above them will not be transpiled by babel plugin"
# Expected Behaviour:
- Babel plugin should transpile all code in bundle / chunks

# Actual Behaviour:
- Some modules files will not be transpiled within the bundle if there is a `package.json` file in the same directory, or a parent directory, of the module to be imported.

# Minimal Example:

- [dependency-transpile-test.zip](https://github.com/rollup/rollup-plugin-babel/files/2328475/dependency

[2018-08-28 15:31] Andarist commented on #242
This is a new babel 7 behaviour - https://deploy-preview-1787--babel.netlify.com/docs/en/next/config-files#file-relative-configuration

You need to use `babelrcRoots` option or project-level `babel.config.js`

[2018-08-28 16:30] blakemann commented on #242
@Andarist thank you, that has solved the problem for me!

[2018-08-28 16:30] #242 closed

[2018-08-28 20:23] alex-r-bigelow opened #243 ""An unexpected situation arose""
I'm trying to adapt my build to the new Babel 7 release, and ran across this cryptic error:

[code]
Potentially relevant configuration files:
- [rollup.config.js](https://github.com/mure-apps/mure-library/blob/b83caa7371577bbc607ae508cb9f16a5b628c2c9/rollup.config.js)
- [package.json](https://github.com/mure-apps/mure-library/blob/b83caa7371577bbc607ae508cb9f16a5b628c2c9/package.json)
- [.babelrc]

[2018-08-28 20:50] Comandeer commented on #243
I encountered the same bug, after updating https://github.com/Comandeer/babel-preset-rollup to Babel 7 and `@babel/plugin-external-helpers`. Seems like the error is connected with this update.

[2018-08-28 22:09] Andarist commented on #243
Could u try `rollup-plugin-babel@next`? Also usage with `@babel/plugin-external-helpers` is deprecated now (if u dont want REAL `@babel/plugin-external-helpers` behaviour, if u really want it - but it will rely on non bundled global variable - u have to pass `externalHelpers: true` to the plugin options) - we do the same thing (helpers deduplicating) that was previously achieved in combination wit

[2018-08-29 02:34] alex-r-bigelow commented on #243
Removing the external helpers seems to have gotten rid of the error. Not sure whether this issue is still relevant for those that need them.

[2018-08-29 14:01] Andarist commented on #241
Right. Handling only default extensions + configurable option for it was part of 4.0.0 release - https://github.com/rollup/rollup-plugin-babel/commit/9f93edacad183cd831ee128cb274da1b5c10e7e0 . It was actually a fix for other issues, would be cool to somehow autodetect if you want to handle TS with babel, but I haven't yet thought it through and not sure how safe is to do that.

[2018-08-31 07:40] flyyang commented on #243
Same issue here

[2018-08-31 07:54] ZhongyiChen commented on #120
`presets: [
              ["@babel/preset-env", {
                loose: true,
                modules: false,   // If you are intended to set modules as false, namely we want to support es6 module, then you must set loose as true
              }]
]`

[2018-08-31 07:58] ZhongyiChen commented on #120
[code]

[2018-08-31 08:03] Andarist commented on #243
@flyyang could u check out `rollup-plugin-babel@next`?

[2018-09-01 19:43] conartist6 opened #244 "Helpers doesn't work correctly with helper modules."
In the case that external helper modules are in use there's really nothing for Rollup to do. It only needs to do nothing special at all, ignore all helpers logic, and it the result will be correct.

Unfortunately, Rollup still tries to use special logic which is no longer relevant.

The external helper module configuration looks like:
[code]

When this configuration is specified the helpers look a

[2018-09-01 20:35] conartist6 opened #245 "externalHelpers does not work."
I would expect that when I use esmodule helpers and `externalHelpers: true` this would be the equivalent of setting: the rollup `external` setting in such a way that it would cover the esm runtime helpers, however this is not the case. `externalHelpers` does not do anything that I can detect.

[2018-09-03 08:12] Andarist commented on #245
Which version of babel (and this plugin) do u use?

[2018-09-03 09:31] QingLeiLi opened #246 "Error: Runtime helpers are not enabled"
[code]
I`m using babel7, config like above, and get an error with rollup
[code]
I think it case by plugin does not compatible with babel7, any idea?

package
[code]

[2018-09-03 09:43] Andarist commented on #246
The error literally tells you what the problem is and how to solve it, please pass `runtimeHelpers: true` to your `rollup-plugin-babel` options like in example [here](https://github.com/drcmda/react-spring/blob/f07a457a62df9b95eaaa0535aee738721c145f05/rollup.config.js#L20)

[2018-09-03 09:43] #246 closed

[2018-09-03 11:27] QingLeiLi commented on #246
My bad, I misunderstanding the word, sorry about that.
I pass the option, then everything work fine.

[2018-09-03 15:29] Fred2MTL opened #247 "An unexpected situation arose"
Hi
I update my building stack from Babel 6 to 7, as following:
`	"devDependencies": {"@babel/cli": "^7.0.0",
		"@babel/core": "^7.0.0",
		"@babel/plugin-external-helpers": "^7.0.0",
		"@babel/plugin-proposal-class-properties": "^7.0.0",
		"@babel/plugin-proposal-decorators": "^7.0.0",
		"@babel/plugin-proposal-do-expressions": "^7.0.0",
		"@babel/plugin-proposal-export-default-from": "^7.0.0",
		"

[2018-09-03 18:40] Fred2MTL commented on #247
@Andarist
It works better with v4.0.3-0, now. Thanks
Here is my configuration
`"@babel/cli": "^7.0.0",
		"@babel/core": "^7.0.0",
		"@babel/plugin-external-helpers": "^7.0.0",
		"@babel/plugin-proposal-class-properties": "^7.0.0",
		"@babel/plugin-proposal-decorators": "^7.0.0",
		"@babel/plugin-proposal-do-expressions": "^7.0.0",
		"@babel/plugin-proposal-export-default-from": "^7.0.0",
		"@babel

[2018-09-03 19:28] nicolo-ribaudo commented on #247
(OT) @Fred2MTL You can rap your code using
\`\`\`
... code ...
\`\`\`

[2018-09-03 19:33] Fred2MTL commented on #247
@nicolo-ribaudo
Great. Thanks. Seems better ;-)

[2018-09-03 20:01] Andarist commented on #247
From what I understand you have resolved your issue, if that's not the case please respond back with more details about your case. Going to release that `4.0.3-0` as `4.0.3` now.

[2018-09-03 20:01] #247 closed

[2018-09-03 20:07] Andarist commented on #236
@looch I would love to fix this problem but due to limited time resources I would need a sample repository illustrating the problem. If you can provide one I will take care of it, otherwise I won't be able to fix this any time soon and I'm forced to close this issue for now.

[2018-09-03 20:07] #236 closed

[2018-09-03 20:08] Andarist commented on #243
I've released a fix for this in 4.0.3

[2018-09-03 20:08] #243 closed

[2018-09-05 07:44] jasonChen1982 opened #248 "can not work when i upgrade"
I use rollup-plugin-babel@4.0.3 and babel@7 and other deps, but it can not work and log an error like the following:
`Cannot find module 'babel-plugin-external-helpers'`
and I have not use `babel-plugin-external-helpers` in anywhere

[2018-09-05 08:34] jasonChen1982 commented on #248
I use rollup API directly, and the config have not `external-helpers`

[2018-09-05 08:37] Andarist commented on #248
then I would suspect that some of ur babelrc has `external-helpers` in it

[2018-09-05 08:49] jasonChen1982 commented on #248
no babelrc

[2018-09-05 08:52] Andarist commented on #248
Without you sharing a repository with the issue reproduced in it I won't be help you.

[2018-09-05 09:16] nicolo-ribaudo commented on #248
Can you share the full stack trace of the error?

[2018-09-05 09:49] jasonChen1982 commented on #248
oh, I know what happens, thanks and sorry about my fool mistake.

[2018-09-05 09:49] #248 closed

[2018-09-05 10:36] flyyang commented on #176
Any update on this?

[2018-09-06 10:59] mahish commented on #157
@zzfScarecrow `npm i -D babel-core` I suppose :)

[2018-09-07 05:19] mesqueeb commented on #3
@Rich-Harris
I have a problem where I need Rollup to specify a `.babelrc` file inside a `build` dir. Not the nearest `.babelrc` file to the file it's transpiring, as this causes issues in my setup.

Can I specify a `.babelrc` file inside a specific folder?

[2018-09-07 05:23] mesqueeb opened #249 "Specify a specific `.babelrc`"
I have a problem where I need Rollup to specify a .babelrc file inside a `build` dir. Not the nearest .babelrc file to the file it's transpiling, as this causes issues in my setup.

In my case:
- I want to transpile `src/helpers/file.js` with a specific rollup setup and a specific `.babelrc` file.
- `src` gets built through other software also looking for the nearest .babelrc files.
  - this is wh

[2018-09-07 09:05] Andarist commented on #249
Not sure if it's the only option or anything, but u can just use `babelrc: false` and pass any config u want to rollup-plugin-babel.

Smth like
[code]

[2018-09-07 09:05] #249 closed

[2018-09-07 17:38] loganfsmyth commented on #249
If you're not actually relying on Babel to load your `.babelrc`, I think using the `.babelrc` naming convention is a mistake, since it is now potentially misleading.

Also, if you're on Babel 7.x and you're finding that the file-relative `.babelrc` isn't a good fit for your goal, you can also consider a [project-wide config](http://babeljs.io/docs/en/config-files#project-wide-configuration) or exp

[2018-09-09 13:53] mesqueeb commented on #209
@Andarist I am having the same issue where I can not run any files compiled with async functions.

Error is the same `uncaught ReferenceError: regeneratorRuntime is not defined`.

#### My rollup plugins:
[code]
#### My `.babelrc`:
[code]
I tried tweaking my settings more similar to @aendrew but it didn't work. I think he uses a completely different babel version.

Do you have any idea how to make

[2018-09-14 13:16] rbnlffl opened #250 "rollup + rollup-plugin-babel + @babel/polyfill"
When trying to build my project with rollup@latest, rollup-plugin-babel@latest, @babel/core@latest and @babel/polyfill@latest, I get the following error originating from rollup-plugin-babel:

node_modules/core-js/modules/es7.symbol.async-iterator.js
TypeError: Cannot read property 'code' of null
    at /Users/robin.loeffel/Sites/misc/mehrsprachig/node_modules/rollup-plugin-babel/dist/rollup-plugin

[2018-09-14 18:00] Andarist commented on #250
Thanks for the report. It's a problem in the plugin - gonna fix it tomorrow.

[2018-09-14 22:24] brytorres opened #251 "Cannot find module '@babel/core'"
I'm new to rollup and was trying to get it to work with babel using https://rollupjs.org/guide/en#babel.
I ran `npm i -D rollup-plugin-babel`, `npm i -D babel-preset-env babel-plugin-external-helpers`,
and also added babel to the `rollup.config.js` file. Also created the `.babelrc` file as per the guide.

I noticed the following warning when running those npm install commands:

[code]

When I run

[2018-09-14 23:46] Andarist commented on #251
The turorial in rollup docs is outdated (for babel@6), and newest `rollup-plugin-babel` is compatible with babel@7- that's why you had to go through all of those hoops (upgrading from 6 to 7).

You got it working though (congrats!) and I'm not sure what's the question now. Could you precise it for me?

[2018-09-15 06:56] jcubic commented on #209
I have this and it don't work, the regnerator is not included:
[code]

[2018-09-15 07:11] jcubic commented on #209
I've also tried this:
[code]

and I've installed `@babel/runtime`

[2018-09-15 07:50] jcubic opened #252 "Recursive call from typeof in output bundle"
I finally was able to make rollup + babel to include regenerator and when I've included output library in browser it give me this error:

[code]

the lines look like this:
[code]
my rollup config look like this:
[code]

[2018-09-15 08:00] jcubic commented on #252
I think it's babel error again as in babel/babel/issues/3836

[2018-09-15 08:43] jcubic commented on #252
The work around is to use replace plugin:
[code]

[2018-09-15 09:44] jcubic commented on #252
it give warning:

[code]

but it works

[2018-09-15 10:46] Andarist commented on #209
Could u share your repository or a repository with the issue reproduced? Without it it's hard to pinpoint the exact problem.

[2018-09-15 10:48] Andarist commented on #252
I doubt this is causing your problem, but you should remove `"@babel/plugin-external-helpers"`. As mentioned in another thread - without the actual repository reproducing the issue it's hard to help. Could you provide one?

[2018-09-15 11:02] jcubic commented on #252
Here is my repo with replace fix https://github.com/jcubic/open-source-library

[2018-09-15 11:03] jcubic commented on #209
I've make it kind of work the code and repo is in #252

[2018-09-15 14:16] jcubic commented on #252
PR resolved the issue jcubic/open-source-library#1

[2018-09-15 14:16] #252 closed

[2018-09-17 18:06] donifer opened #253 "Usage with Babel 7"
I have a question in regards of using this with Babel 7.

If I'm using a `.babelrc.js` do I need to set `@babel/env` options to `{loose: true, modules: false }`?

What about setting `cjs && 'transform-es2015-modules-commonjs'`? Is this still needed for Babel 7?

I'm trying to follow [this tutorial](https://developers.livechatinc.com/blog/how-to-create-javascript-libraries-in-2018-part-2) if it hel

[2018-09-17 19:59] Andarist commented on #253
Hah, thanks for reading my tutorial 😉

`loose` is an option that tells babel to produce more concise (& faster) code at the cost of 100% spec compliance, so it's not related to babel@7 anyhow. I advise to use it (although better read what it does first).

You don't have to specify `modules: false` explicitly with babel@7, because rollup-plugin-babel can tell babel now that it supports native modul

[2018-09-17 21:02] Andarist commented on #250
Could u try `rollup-plugin-babel@beta`?

[2018-09-18 16:36] rbiggs commented on #253
I'm trying to user this plugin with Rollup and Babel7. But I'm getting the following error in the console:

[code]

I'm running Rollup from the command line as an NPM script:
[code]

My .babelrc file:
[code]
And my rollup.config.js:

[code]

What do I need to change to make it work with Babel?

[2018-09-18 17:13] Andarist commented on #253
@rbiggs hard to tell without more info, could u paste in your package.json contents?

and of course the stack trace of thrown error would be super nice

[2018-09-18 18:32] rbiggs commented on #253
package.json:

[code]

When I run `npm run build` I get the following:

[code]

[2018-09-18 18:35] rbiggs commented on #253
If I leave out `rollup-plugin-babel`, I can bundle and minify without a problem. However I'd like to use new Babel presets and transpile down to last 2 browsers for production. So, I want to have the final output be ECMAScript 2015, with other features transpiled down to that using `rollup-plugin-babel`.

[2018-09-18 19:53] tmartensen commented on #253
From the looks of your `package.json`, you're going to need an updated (>4) version of `rollup-plugin-babel`, since only version 4 and greater uses Babel 7.

[2018-09-18 20:01] Andarist commented on #253
Yeah, that's right - please report back when u upgrade `rollup-plugin-babel`. I hope it helps.

[2018-09-18 20:54] rbiggs commented on #253
OK, so doing an npm install --save-dev only installs 3.0.7. with @latest I got 4.0.3. Using that I get this error:

[code]
Seems to be having problems with @babel scoped packages.

[2018-09-18 21:15] Andarist commented on #253
Could u try removing & reinstalling your node_modules completely? Or maybe you could share your repository? Would help a lot in solving this quicker.

[2018-09-18 23:54] rbiggs commented on #253
Let me see about making a smaller, reduced trial repo. Will be less to troubleshoot.

[2018-09-19 10:13] rbnlffl commented on #250
I works now, thank you! But I get the warning that "Plugins that transform code (such as 'babel') should generate accompanying sourcemaps", even though I have babel configured to output source maps.

[2018-09-19 17:15] miguelbermudez commented on #253
For what its worth, I had this same issue with jest and babel@7. The solution was to install `babel-core": "^7.0.0-bridge.0"`. If you're using yarn you can add a `resolutions` to your package.json. You can check [here](https://github.com/facebook/jest/issues/6662) for more details.

[2018-09-19 21:49] Andarist commented on #250
Thanks for reporting back, I think we might need to return `null` instead of `{ code }` when no transformation takes place (because of your ignore rule in babelrc). I need to investigate if it's supported in all current supported versions of rollup.

[2018-09-21 04:16] johndeighan commented on #120
I'm still getting "ReferenceError: require is not defined" in my browser console. Any help would be appreciated. I've attached my package.json, rollup.config.js and .babelrc files (renamed with a .log file extension so your site will allow them)

[.eslintrc.js.log](https://github.com/rollup/rollup-plugin-babel/files/2403895/default.eslintrc.js.log)
[package.json.log](https://github.com/rollup/roll

[2018-09-21 08:30] johndeighan commented on #120
If it helps, the call to require in my source file is:

const watsonSpeechRecognizer
	= require('watson-speech/speech-to-text/recognize-microphone');

which appears in the output file, but with 'var' instead of 'const'.

[2018-09-21 11:41] rbiggs commented on #253
I made a simpler project and, surprise that worked. So I used that as the base for the complex project, adding everything in piece by piece and that compiles as expected. So closing this.

[2018-09-22 08:43] Andarist commented on #253
Thanks for reporting back. I consider this issue closed, if you have any other issues please open a new one.

[2018-09-22 08:43] #253 closed

[2018-09-22 11:57] timdp opened #254 "Using { useBuiltIns: usage } causes circular dependencies"
If I change my `preset-env` config from the default `{ useBuiltIns: false }` to `'usage'`, I get tons of circular dependency warnings from Rollup, e.g.,

And then my bundle crashes on this statement in core-js:

[code]

where `_export` is undefined. So that looks a lot like the circular dependency hadn't been populated yet upon the call to it. If I comment out that statement, it just crashes on th

[2018-09-22 14:42] timdp commented on #254
I've created a [minimal implementation](https://github.com/timdp/rollup-plugin-babel-254-repro). If I run `yarn build` there, I get:

[code]

The build completes, but if I run it, I get the same error:

[code]

The problem does go away if I set `targets` to anything above `>= 1%` so one of the most legacy transforms must be failing.

[2018-09-22 15:34] timdp commented on #254
Also, `{ babelrc: false }` seems to make a big difference. I've pushed [2d885b6](https://github.com/timdp/rollup-plugin-babel-254-repro/commit/2d885b65abc69779b6ad2bfc5d6adb5ca9f19e35) which runs the plugin twice: once without options, taking the Babel config from package.json, and one with the config passed directly to the plugin. The former works, the latter fails.

[2018-09-22 17:59] loganfsmyth commented on #254
The issue is that Babel configuration in a `package.json` file will only affect that single package, whereas configuration passed to `babel(babelOptions)` will affect _all_ files in your package.

The job of `useBuiltins: 'usage'` is to insert references to `core-js`, and by running your configuration on files in `node_modules`, you run the risk of creating dependency cycles, because `usage` can a

[2018-09-22 20:36] timdp commented on #254
Thanks! That makes sense. I did try excluding `**/core-js/**` earlier, which didn't seem to help, but maybe I did it wrong. I'll give it another try soon.

[2018-09-23 08:01] timdp commented on #254
Confirming that `{ exclude: [/\/core-js\//] }` fixes it. I'll close this issue.

Thanks for creating babel/babel#8754 as well. Very curious to see what the outcome of that will be.

[2018-09-23 08:01] #254 closed

[2018-09-24 06:44] bhariyani commented on #253
install  "@babel/core": "^7.1.0"

[2018-09-24 12:06] ali-master commented on #237
Hi all.

I have the same problem with babel v7 and rollup babel plugin.
[code]

Does anyone have solution to solve this error?

[2018-09-25 09:02] savokiss commented on #217
Refer to #148, Make external like this:
[code]

[2018-09-25 14:57] denkristoffer opened #255 "Rollup with Typescript through Babel"
I keep getting "Unexpected token" errors when trying to compile Typescript React components with Rollup and rollup-plugin-babel:

[code]

My rollup.config.js:
[code]

I also have a .babelrc file that uses @babel/preset-typescript. It works fine when using @babel/cli.

Versions:

- rollup: 0.66.2
- rollup-plugin-babel: I tried with 4.0.3 and 4.1.0-0
- @babel/core: 7.1.0

Am I doing something wrong

[2018-09-25 15:11] Andarist commented on #255
You also need to pass `extensions` to babel plugin (most probable cause of your issue)

[2018-09-25 15:51] denkristoffer commented on #255
Thanks @Andarist, that was it! `extensions` isn't mentioned in the README, so I created a small PR: #256

[2018-09-25 15:51] #255 closed

[2018-09-29 02:48] csvwolf opened #257 "class is not found"
I use rollup with babel6, but in the browser there is an error:
![image](https://user-images.githubusercontent.com/8280645/46240100-10aca380-c3d5-11e8-8682-a2d1aee77483.png)

I used babel7 with the same error, is there anything wrong with my config?

[code]

[code]

[2018-09-29 03:16] Andarist commented on #257
You'd have to share a repository with the issue reproduced, without that I won't be able to help you.

[2018-09-29 04:43] pgraham opened #258 "Module only exporting default when module contains mixed default and named exports"
Not sure if this is the right place for this but here goes:

I'm trying to bundle compiled typescript through rollup + rollup-plugin-babel. One of my modules has a dependency on _redux-saga_. The compiled typescript for this module looks like:

[code]

After bundling this is transformed to:

[code]

When I try and run this code I get an error: `Uncaught TypeError: redux_saga_1.default is not a fun

[2018-09-29 05:57] csvwolf commented on #257
@Andarist I solved the problem since the I forget to use
[code]

[2018-09-29 05:57] #257 closed

[2018-09-29 10:02] Andarist commented on #258
That's probably a problem between TS output & rollup-plugin-commonjs logic. To some extent you might find out more about why this might happen in this issue - https://github.com/webpack/webpack/issues/7973 .

Either way I would recommend to output ESM instead of CJS from TS and consume that with rollup as it will "just work", but also yield better results in terms of final output size.

[2018-09-29 12:49] pgraham commented on #258
Thanks for the reply. I will investigate that bug, but am wondering, am I going to find that what I want to do is just not possible?

I would like to the typescript module output format as CJS since I also have Typescript sources that are targeted to a Node environment.

Being to include all of my sources in the tsconfig.json works way better with my editor (VIM) since the typescript support doesn

[2018-09-29 12:49] #258 closed

[2018-09-30 08:28] Andarist commented on #258
If I understand everything correctly you need to:
- either build with tsc 2 times, to cjs and esm formats separately, use cjs files for node (main in package.json), treat esm output and temp and consume it with rollup (if your package is isomorphic - could be used in both node and in browsers - then distribute ur esm files as module in package.json)
- or consume ur original TS files with rollup (a

[2018-10-01 14:28] pinguxx opened #259 "Plugin code not transpiled"
hello, i just upgraded to the latest rollup and plugin babel and i have a custom plugin that returns this
[code]
problem is, after the upgrade the => and the template literal are not transpiled, any idea?

[2018-10-01 14:50] Andarist commented on #259
Could u prepare a repository with the issue reproduced? I won't be able to help you without one.

[2018-10-03 05:02] Himself65 commented on #251
@Andarist  have any Babel7 config example？

[2018-10-03 07:30] cloudever opened #260 "Generated code is not transpiled by rollup-plugin-babel to ES5 with vue plugin"
### Expected behavior
Keyword `const` should be transpiled to `var` because I've applied `.browserslistrc` with `ie 9` for Babel 7.
It seems to be that code from `vue-component-compiler` is not transpiled to ES5 partially.

https://github.com/vuejs/vue-component-compiler/blob/afa1cd440123e2e0c195908c1e15935273ac64a9/src/assembler.ts#L304-L307

[code]

### Actual behavior
I get following code that

[2018-10-03 08:47] Tomekmularczyk opened #261 "can't use @babel/preset-typescript"
Hi and thanks for the plugin,

I want to use typescript so I thought it will be as straightforward as adding @babel/plugin-typescript to the .babelrc but this somehow doesn't strip the types from the file. I wonder why this happens and if I can fix it or do I have to use something like rollup-plugin-typescript2.

Here is how I tried to get it working - https://github.com/Tomekmularczyk/react-packa

[2018-10-03 09:25] Andarist opened #262 "Fix AppVeyor config"
It tries to test against both babel@6 and babel@7, we only need to test against latter.

[2018-10-03 09:28] Andarist commented on #260
From what I remember babel ignores `node_modules` by default now, so you need to explicitly ask it to transpile them.

[2018-10-03 10:13] Tomekmularczyk commented on #261
@Andarist thanks! I also found a #255 meanwhile and now it works.

About the PR... I could make it, but I don't know enough details. I'm still confused why what is pointed out in the [#why](https://github.com/rollup/rollup-plugin-babel#why)-section is the reason for the rollup-plugin-typescript package. Is it about performance or some additional configuration?

[2018-10-03 10:14] #261 closed

[2018-10-03 10:27] Andarist commented on #261
I think it's just about config complexity - kinda easier to have a single tool which combines multiple other tools (with plugins) to create a final output from the raw input rather than creating carefully a pipeline from those tools where each gets intermediate results.

[2018-10-03 14:58] loganfsmyth commented on #260
Are the files `.vue`? If so, you need to tell the plugin to process those.

Not related to your question, but FYI `api.cache(api.env('development'));` makes no sense. What that is saying is, re-evaluate your `module.exports` config function and every preset/plugin it references, for every single file, when doing a production build. That's essentially just making your production builds slower for n

[2018-10-03 15:36] Himself65 commented on #251
@Andarist thanks

[2018-10-03 23:48] shad-k commented on #262
@Andarist hi, I can try and help out with this. Will create a PR soon.

[2018-10-04 14:10] wintercounter commented on #253
I have 7.1.2 and the issue still exists so that won't help. Btw the bridge package is just a workaround, I wouldn't consider this issue as resolved...

[2018-10-04 14:34] Andarist commented on #253
@wintercounter you have to share a repository with the issue reproduced to get some help, without it I won't be able to tell you what's the problem in your case

[2018-10-05 03:11] pinguxx commented on #259
I got an example working... or not working 😃
https://github.com/pinguxx/rollup-babel-problem

[2018-10-05 03:30] pinguxx commented on #259
Changed the files to be htt to show that html is not the issue
https://github.com/pinguxx/rollup-babel-problem
i have this custom plugin to parse those
https://github.com/pinguxx/rollup-babel-problem/blob/master/rollup/hypertemplate.js
configured here
https://github.com/pinguxx/rollup-babel-problem/blob/master/rollup.config.js#L22
code still not being transpiled

[2018-10-05 03:35] loganfsmyth commented on #259
I think you misunderstood. You need to tell this plugin. As in `extensions: ['.js', '.htt']` in the args for `rollup-plugin-babel`. Otherwise it only defaults to the normal JS extensions.

[2018-10-05 03:39] pinguxx commented on #259
totally misunderstood, thanks for the help. It works now, had to read the manual next time haha 😛

[2018-10-06 06:42] ycjcl868 opened #264 "Error: 'default' is not exported by classnames"
![image](https://user-images.githubusercontent.com/13595509/46568361-fbf08280-c975-11e8-84f5-a11a84cdf215.png)

this is my `rollup.config.js`
[code]

[2018-10-06 06:56] ycjcl868 commented on #264
solved.

[code]

[2018-10-06 09:03] Andarist commented on #264
Classnames module doesnt export ESM format, only CJS - that's probably why you have had problem with it. Glad you have figured it out.

[2018-10-06 09:03] #264 closed

[2018-10-08 18:46] littlespex commented on #245
I am experiencing a similar issue when trying to update our build process to use babel 7. When I configure rollup/babel with `externalHelpers: true` the helpers are still being inserted at the top of the bundled js. I've also tried using the `external-helpers` plugin, but I'm get the following message:

I am developing an app that has multiple runtime plugins which are also bundled using rollup an

[2018-10-08 21:40] Andarist commented on #245
Could you paste in your babel@6 rollup config + babel config? I should be able to tell you how to migrate it to babel@7.

`externalHelpers` is a setting which allows true external helpers (how babel defines them), but they are **global** and IMHO should be discouraged. Using `babel-plugin-external-helpers` with rollup-plugin-babel@3 was a hacky solution for the problem - it overloaded what `babel-

[2018-10-08 22:38] littlespex commented on #245
`plugin-transform-runtime` did the trick. Thanks @Andarist.

[2018-10-09 07:07] Andarist commented on #245
Closing this issue then, as original author of the thread has not responded with requested information.

[2018-10-09 07:07] #245 closed

[2018-10-09 17:08] cloudever commented on #260
Babel 7.1.2 force me to add api.cache expression

[2018-10-09 17:11] loganfsmyth commented on #260
Fair. All you need is `api.cache(true)` though. No need to call `api.env('development')`. I'll see what I can do to make that clearer.

[2018-10-11 19:21] ghettovoice commented on #260
Try to add `extensions` option to rollup-plugin-babel options:

[code]

I had the same issue after upgrade to the latest versions of rollup-plugin-vue, rollup-plugin-babel & etc.

[2018-10-16 17:27] luwes opened #265 "Other plugins can't access rollupPluginBabelHelpers"
Code added by the babel helpers should be accessible by other plugins if needed.
We have a case where `Symbol` needs to be polyfilled, which is done by
https://github.com/rollup/rollup-plugin-inject

Babel is adding this helper for example:
[code]

This plugin sets the id of the helper to `\u0000rollupPluginBabelHelpers` which makes it automatically filtered out if the plugin uses
https://github.c

[2018-10-16 19:58] Andarist commented on #265
Thanks for the report - I've responded back in the linked issue of rollup-plugin-inject.

[2018-10-17 13:21] #265 closed, assigned to nobody

[2018-10-19 08:44] zsky opened #267 "PreflightCheck Error"
The code below emitted a error, because transpiled code with babel had no matching condition
[code]
babel version:  7.0.0-beta.47
the output code was
[code]

I tried babel 7.1.2, also got error

[2018-10-19 10:58] Andarist commented on #267
Could u paste in your rollup & babel configs?

[2018-10-19 19:11] Andarist commented on #267
Could you file an issue (or check if there is any already about it) in vue-cli repo? They have a little bit outdated dependencies - https://github.com/vuejs/vue-cli/blob/528c46507a21b76f12bc416d98f9b04c0076cb50/packages/%40vue/babel-preset-app/package.json#L24-L30

For the time being it seems that you should downgrade your rollup-plugin-babel to 4.0.0-beta.7

[2018-10-20 14:36] cloudever commented on #260
@ghettovoice Did the trick thank's

[2018-10-20 15:16] #260 closed

[2018-10-20 20:22] BenoitZugmeyer opened #268 "Error when using babel-preset-minify configured to mangle toplevel names"
I have a similar issue as #267  when using `babel-preset-minify` with the option `{ mangle: { topLevel: true } }`.

I made a minimal repo to reproduce:

[code]
This outputs an error like this:
[code]

In the preflight transformed code, the `function _inherits` gets mangled, so the plugin can't find it.

As a temporary fix, I use the `exclude` option to make sure `_inherit` isn't mangled.

[code]

[2018-10-21 07:47] Andarist commented on #268
Thanks for the report, I'm not sure what can we do about it though. The whole preflightCheck is shady and I'd like to remove it in next major version.

Probably switching to https://github.com/Comandeer/rollup-plugin-babel-minify for minifying purposes would fix your issue.

[2018-10-21 08:34] zsky commented on #267
They had upgraded recently: [https://github.com/vuejs/vue-cli/pull/2642](https://github.com/vuejs/vue-cli/pull/2642)
But even if I upgraded the babel, I still have this error. [https://github.com/rollup/rollup-plugin-babel/issues/268](https://github.com/rollup/rollup-plugin-babel/issues/268) said preflightCheck will be removed，how long will it takes?

[2018-10-21 08:47] Andarist commented on #267
Could u prepare a repro case? What kind of an error do you see? What is the output code?

[2018-10-23 02:33] zsky commented on #267
I made a minimal repo to reproduce:
[code]
Then outputed a error:
[code]
I logged the code, the `_inherits`:
[code]

[2018-10-23 15:35] Andarist commented on #267
The installed @vue/babel-preset-app@3.0.5 has still outdated babel dependencies.

[2018-10-24 05:29] #267 closed

[2018-10-24 05:34] zsky commented on #267
I changed the babel config, set  [useESModules](https://babeljs.io/docs/en/babel-plugin-transform-runtime#useesmodules) false, solved my problem.

[2018-10-25 14:42] shravya95 commented on #209
If helpful, following fixed the problem for me, added ` @babel/plugin-transform-runtime` to plugins
`plugins: [
          '@babel/plugin-transform-runtime'
 ],`

and my package.json  looks like
`
"dependencies": {
    "@babel/runtime": "^7.1.2",
}
"devDependencies" : {
"@babel/plugin-transform-runtime": "^7.1.0",
}
`

[2018-11-02 16:19] zebapy opened #269 "babelrc exclude possibly ignored"
I'm using gulp+rollup+rollup babel and importing Swiperjs but have issues when using `.babelrc` vs passing the babel config into `rollupBabel()`

plugins

[code]

Swiper offers an esm build so I need babel to transpile it. See https://github.com/nolimits4web/swiper/issues/2602

If this is in a `.babelrc.js` it fails
[code]

gives this error

[code]

If I put it into babel plugin, it compiles fine

[2018-11-14 10:49] Andarist commented on #269
This is probably because babel@7 has changed behaviour in regards to compiling things located in node_modules - also a resolution algorithm for .babelrc files has slightly changed (babelrc files in node_modules wont be found automatically).

There are various possibilitied how to work around this - one of them is to require your babelrc in rollup.config.js and use its contents as options to rollup

[2018-11-14 10:49] #269 closed

[2018-11-14 23:44] mjackson opened #271 "rollup-plugin-babel cannot read .babelrc when run from repo root"
It seems like `rollup-plugin-babel` only finds and reads `.babelrc` files when it is run outside the directory where that package is contained. I am going to post a repro here shortly.

Possibly related to #232, but I'm not sure because the source repo has since been deleted.

[2018-11-14 23:49] mjackson commented on #271
OK, repro [is at `mjackson/rollup-plugin-babel-bug`](https://github.com/mjackson/rollup-plugin-babel-bug). If you run that repo, you'll see what I'm talking about.

[2018-11-15 00:19] Andarist commented on #271
This is in fact strange and I'm not sure why this happens, however rollup-plugin-babel doesn't load babelrc files on it own - that's babel responsibility, so the issue got kinda reported in the wrong repository.

You can "fix it" by passing `babelrcRoots: ['./packages/*']` as option to you rollup-plugin-babel's instance - it's babel@7 option https://babeljs.io/docs/en/options#babelrcroots .

cc @l

[2018-11-15 00:51] loganfsmyth commented on #271
The core of it is that we use the working directory as the default for the `root` package where `.babelrc` are taken into account. There are a few ways to get around that, but since this seems to be a monorepo structure, the standard recommendation is to create a `babel.config.js` in the repo root with `module.exports = { babelrcRoots: ["./packages/*"] };` and then pass `rootMode: "upward"` to the

[2018-11-15 01:04] mjackson commented on #271
Thanks for taking a look, @Andarist. I think you're right, this is a babel issue. Sorry for filing in the wrong repo.

Thanks for your comment, @loganfsmyth. I read through those docs earlier today, but this part doesn't seem accurate:

If that were true, wouldn't the settings in a `.babelrc` file *always* apply to files in that directory or lower, regardless of the current working directory?

For

[2018-11-15 01:11] Andarist commented on #271
No problem at all.

I definitely agree with @mjackson that current docs around this are misleading - I was reading them while investigating this and couldnt figure out from them what's the exact reason why this babelrc wasnt picked up. I just knew from other issues reported previously how to fix it (with babelrcRoots) but it was unclear for me why it has to be specified in this case.

[2018-11-16 23:55] loganfsmyth commented on #271
Yeah you are right that that passage is overly broad. It should probably have a `, subject to the edge cases below.` at the end or something.

[2018-11-17 05:11] mjackson commented on #271
Well, it looks like this was just a misunderstanding of the way I believed the `.babelrc` file worked. Happy to close.

[2018-11-17 05:11] #271 closed

[2018-11-17 09:10] sansSpoon opened #272 "Error when babel-minify topLevel mangle and dynamic import"
Similar to #268. I've been playing around with the rollup-starter-code-splitting project and babel 7.1 with babel minify and came across this error when trying to turn on top level mangling with dynamic imports:

[code]

I get why this is happening; babel-minify can't mangle the function without also mangling the filename. Would this even be feasible? Is it something that should live with rollup o

[2018-11-17 09:37] sansSpoon commented on #272
fixed using: https://github.com/Comandeer/rollup-plugin-babel-minify

[2018-11-17 09:37] #272 closed

[2018-11-18 21:01] ovac commented on #237
I'm having the same issue.

[2018-11-18 21:05] ali-master commented on #237
I have used the **babel-upgrade** package and works.

[2018-11-18 21:45] ovac commented on #237
How will I do this? Enlighten me

[2018-11-18 21:56] ali-master commented on #237
Run the following command:

[code]

I hope it will be helped you a lot.

[2018-11-18 22:18] ovac commented on #237
Ok. I did this, but now im stuck with: Error: Cannot find module 'babel-plugin-external-helpers'

[2018-11-19 07:35] ali-master commented on #237
So, as it said, please install the **babel-plugin-external-helpers** package.

[code]

[2018-11-19 08:10] ovac commented on #237
I did, undid and redid it...
(babel plugin) Error: Babel 7.0.0-beta.56 has dropped support for the 'helpersNamespace' utility.If you are using @babel/plugin-external-helpers you will need to use a newer version than the one you currently have installed. If you have your own implementation, you'll want to explore using 'helperGenerator' alongside 'file.availableHelper()'.

[2018-11-19 09:14] Andarist commented on #237
When using babel@7 the usage of `babel-plugin-external-helpers` is not recommended.

I'm not sure if your issue is the exact same issue as described by the original poster - could u provide a repository with your issue reproduced?

[2018-11-19 10:46] ovac commented on #237
In order to get this to work, I had to copy the config from my .babelrc file into the rollup.config.js and set the "runtimeHelpers" to false.

in other words:

[code]
**was replaced with:**

[code]

I'd be glad if I could still use my default .babelrc.
Am I doing something wrong here?

[2018-11-19 10:50] Andarist commented on #237
It all depends on the structure of your project, for most common case you should be able to just do this:
[code]
and that should find your babelrc files.

[2018-11-19 17:53] ovac commented on #237
@Andarist  and @ali-master thanks so much for your support.
Hello searchers 🤓... My final solution was:
[code]

This is exactly what I was looking for.

[2018-11-20 07:48] kopax opened #273 ".babelrc or babel.config.js"
Dear everyone, I am a user of the v3 of this plugin.
We'd like to upgrade babel from 6 to 7, and we need to upgrade this module from v3 to v4.

The v4 doc state that the `.babelrc` file is generally the right place to put your configuration, while babel 7 state that the config file should be used.

Any information will be taken so I can understand this. I am in the process of removing by default t

[2018-11-20 08:16] loganfsmyth commented on #273
I don't think that's accurate, you can still use `.babelrc` files with Babel 7 too, it really just depends on what you want to do. Have you read through https://babeljs.io/docs/en/config-files?

[2018-11-20 08:44] kopax commented on #273
From your link, read : https://babeljs.io/docs/en/config-files#6x-vs-7x-babelrc-loading

We rather switch to the new model, do we **need** to use `.babelrc` for migrating this module?

[2018-11-20 10:18] Andarist commented on #273
Depending on your directory structure you might not have to change those options at all. If babel won't be able to find your babel.config.js then just point to it with `configFile` option. Other than that you might consider using `babelrc: false` - just to be sure that the only config that you are using is that single babel.config.js

[2018-11-25 21:09] AllNamesRTaken opened #274 "typescript + rollup-plugin-babel does not transform"
Hi,
I've been failing to have my rollup of typescript to work with babel. Just running babel through npx works fine but the rollup-plugin-babel doesn't seem to find the config files?
my rollup.config.js:

    import typescript from 'rollup-plugin-typescript';
    import babel from 'rollup-plugin-babel';

    var plugins = [
        typescript(/*{ plugin options }*/),
        babel({
            ex

[2018-11-25 21:39] Andarist commented on #274
You would have to share a repository with the issue reproduced to get help with this one

[2018-11-26 08:34] AllNamesRTaken commented on #274
[lab repo](https://github.com/AllNamesRTaken/rollup-lab)
running rollup -c will crash in the uglify plugin since the ```let``` is not transpiled

[2018-11-26 11:46] Andarist commented on #274
You need to configure extensions which should be transpiled by babel - by default it doesnt handle `.ts` files.

Do this:
[code]

[2018-11-26 12:04] AllNamesRTaken commented on #274
But I am running rollup-plugin-typescript before that to let tsc transpile it.
Shouldn't that let the babel plugin work with js?

[2018-11-26 14:49] AllNamesRTaken commented on #274
Thanks solved it. I also had change my config to:

    module.exports = function(api) {
        api.cache(true)
        ...

Close this please.

[2018-11-26 14:49] #274 closed

[2018-12-05 19:01] Andarist commented on #237
rollup-plugin-node-resolve if u want to bundle them, or specifying those dependencies as rollup's external option (if u want to keep import statements)

[2018-12-05 20:26] esphen opened #275 "Expose custom babel loader builder"
Hello :wave:

Before I go on to the suggestion, I would like to thank the Rollup team for your excellent work. It's really amazing to see you pushing the envelope on build systems. Keep it up! 💯

`rollup-plugin-babel` has a lot of great features, but there is one we would love to see added. `babel-loader` exposes a [custom loader builder](https://github.com/babel/babel-loader/#customized-loader) t

[2018-12-05 20:30] Andarist commented on #275
We definitely want this - if you can work on it (replicating babel-loader's functionality) it would be great, we could move this together quite quickly. If not - I'm going to research the topic in few days and implement it myself.

[2018-12-05 20:49] esphen commented on #275
Sounds fun. I can have a stab at it tomorrow, see if I make some progress.

If I need help at some point, I'll open a PR and we can take the discussion there.

[2018-12-10 10:34] Himself65 opened #276 "helpers(...).minVersion is not a function"
- Rollup Version:  0.67.4
- Operating System (or Browser): Windows 10 1803
- Node Version: v11.2.0

### How Do We Reproduce?

1. clone https://github.com/Himself65/kuen/tree/bug
2.

### Expected Behavior

[code]

### Actual Behavior

success build.

[2018-12-10 12:33] fengyuanchen opened #277 "Not to transform code imported from node_modules"
I'm using [`is-blob`](https://www.npmjs.com/package/is-blob) package which export the following code:

[code]

---

**Input:**

[code]

**Output:**

[code]

**The arrow function isn't transformed to ES5 function!**

**Expected:**

[code]

---

`.babelrc`:

[code]

`rollup.config.js`:

[code]

---

Or may be I need to open an issue to the [is-blob](https://github.com/sindresorhus/is-blob) repositot

[2018-12-10 12:47] nicolo-ribaudo commented on #277
.babelrc is only applied to your own package; you need to rename it to `babel.config.js` of you want to transpile other packages (e.g. inside node_modules)

[2018-12-10 13:04] fengyuanchen commented on #277
Resolved! Thanks~

[2018-12-10 13:04] #277 closed

[2018-12-11 12:14] FezVrasta commented on #275
@esphen I created a PR against your branch to fix some stuff
https://github.com/esphen/rollup-plugin-babel/pull/1

[2018-12-12 09:56] thisconnect opened #278 "sourcemap is likely to be incorrect PART II with example repo"
[code]

output

[code]

[2018-12-12 09:59] thisconnect commented on #132
I created an example repo, I am hero :P and opened a new issue

- https://github.com/rollup/rollup-plugin-babel/issues/278
- https://github.com/thisconnect/test-rollup-babel-sourcemap

[2018-12-12 09:59] thisconnect commented on #278
https://github.com/thisconnect/test-rollup-babel-sourcemap

[2018-12-12 11:49] Andarist commented on #278
I believe I have fixed this. Could you try `rollup-plugin-babel@4.1.0-1`?

[2018-12-12 11:53] thisconnect commented on #278
👍 perfect, is `rollup-plugin-babel@4.1.0-1` a prerelease or do you suggest to use this version in production?

[2018-12-12 12:02] Andarist commented on #278
It's a prerelease so you can easily test it but as soon as you confirm that it works I'm going to release it as latest.

[2018-12-12 12:07] thisconnect commented on #278
I confirm, it is fixed with 4.1.0-1
updated test repo
https://github.com/thisconnect/test-rollup-babel-sourcemap/commit/2d984f5defde65441013c1ad43a0bdeedc39072e

[2018-12-12 12:16] Andarist commented on #278
Published as 4.1.0

[2018-12-12 12:16] #278 closed

[2018-12-16 12:51] kopax opened #279 "How to locate babel.config.js"
We have removed .babelrc in profit of `babel.config.js`, after upgrading from rollup v0.57 to latest, we encounter the following error:

[code]

We use `babelrc: false`, Is there a way to select the `babel.config.js` file?

[2018-12-16 12:53] nicolo-ribaudo commented on #279
Is `configFile: "path/to/babel.config.js"` what you are looking for?

[2018-12-16 12:58] kopax commented on #249
Where is `configFile` documented In rollup-plugin-babel ? after upgrading I have issue with babel not loading the good presets/plugins.

[2018-12-16 13:02] nicolo-ribaudo commented on #249
https://github.com/rollup/rollup-plugin-babel#usage

From the babel config:

https://babeljs.io/docs/en/options#configfile

[2018-12-16 13:07] kopax commented on #279
Thanks you, it seems that I have passed the configuration to babel plugin, however, I keep having error while trying to build with rollup.

This happen after I have upgraded rollup from 0.57.1 to latest.

[2018-12-16 13:12] #279 closed

[2018-12-16 13:35] nicolo-ribaudo commented on #279
What is your directory structure?

[2018-12-16 13:40] kopax commented on #279
Thanks, I have found this is not rolated to that module, I have opened another issue [here](https://github.com/rollup/rollup/issues/2597)

[2018-12-16 13:40] kopax commented on #249
Thanks, I have found this is not rolated to that module, I have opened another issue [here](https://github.com/rollup/rollup/issues/2597)

[2018-12-17 06:59] loganfsmyth commented on #276
Running your demo produces a different error for me:
[code]

[2018-12-21 17:42] Himself65 commented on #276
@loganfsmyth

my `yarn` version are `v1.12.3`

[![FsTs9P.md.png](https://s1.ax1x.com/2018/12/22/FsTs9P.md.png)](https://imgchr.com/i/FsTs9P)

[2018-12-23 12:42] Andarist commented on #276
Have you fixed your problem? Once I change:
[code]
to
[code]
it build fine for me:
[code]

[2018-12-23 14:55] Himself65 commented on #276
@loganfsmyth  @Andarist

I fixed this bug by following your advice.

And the reason that my pc displayed `[!] (babel plugin) TypeError: helpers(...).minVersion is not a function` may be caused by the wrong `node_modules` folder contents.

After I remove `node_modules` and `yarn.lock` then `yarn install`, finally the problem disappear.

Thank you very much for your help.

[2018-12-23 14:55] #276 closed

[2018-12-28 02:23] developer239 opened #287 "Jest encountered an unexpected token"
I have problem with building my ui-library with rollup. For some reason it does not convert uses imports instead of requires:

![image](https://user-images.githubusercontent.com/14946081/50500108-5a963b80-0a4f-11e9-856b-0c2bc007f4e2.png)

**package.json**

[code]

**rollup.config.js**
[code]

How do I make my bundle compatible with `commonjs`?

[2018-12-28 09:07] Andarist commented on #287
[code]
+ remember about putting:
[code]
into your package.json

You can read some more here - https://developers.livechatinc.com/blog/how-to-create-javascript-libraries-in-2018-part-1/

[2018-12-28 09:07] #287 closed

[2018-12-29 09:39] limonte opened #288 "rollup 1.0.0 support"
rollup 1.0.0 has been released: https://github.com/rollup/rollup/releases/tag/v1.0.0

![image](https://user-images.githubusercontent.com/6059356/50536569-66bcee80-0b5e-11e9-9aac-ea78971a6f54.png)

[2018-12-29 18:15] Andarist commented on #288
Published as v4.2.0

[2018-12-29 18:15] #288 closed

[2019-01-02 17:14] Andarist commented on #273
I dont think there is any actionable point here right now, closing the issue. Feel free to open new one if you have more questions.

[2019-01-02 17:14] #273 closed

[2019-01-02 17:17] Andarist commented on #250
I think this was fixed by some of the latest releases, closing this but I would appreciate you checking again if it works now correctly for you and reporting back if it does.

[2019-01-02 17:17] #250 closed

[2019-01-02 17:18] Andarist commented on #239
Seems it is resolved, closing the issue. Feel free to open new one if you have more questions.

[2019-01-02 17:18] #239 closed

[2019-01-06 17:19] rbnlffl commented on #250
Works correctly now, thanks!

[2019-01-09 00:22] priley86 opened #291 "Plugin/Preset files are not allowed to export objects, only functions"
Hi - I am attempting to use this to add UMD support for our monorepo.

Getting the following with my Babel 7 project:
[code]

Here is the steps to reproduce:
[code]

I verified that removing the plugin removes the error (so have isolated it to this dependency). Can you please look at the rollup and babel js configs?
https://github.com/priley86/patternfly-react/blob/umd-support/packages/patternfly-

[2019-01-09 11:09] Andarist commented on #291
I **guess** that `configFile` doesnt accept babelrc format (it's supposed to accept `babel.config.js` files).

I would try with such options:
[code]

[2019-01-09 14:06] priley86 commented on #291
thanks! this resolved the issue.

[2019-01-09 14:06] #291 closed

[2019-01-10 23:34] deanmartinez opened #293 "Why++ ?"
Hello, I can see the [Why section in the readme](https://github.com/rollup/rollup-plugin-babel#why) which states

My question is **why** would someone be in that condition? Sorry if I am not understanding. As far as I can tell:
* Babel *converts ECMAScript 2015+ code into a backwards compatible version of JavaScript*
* Rollup *uses the new standardized format for code modules included in the ES6 r

[2019-01-11 09:16] Andarist commented on #293
Babel handles more than module format transpilation. While it's true that ESM module format is part of ECMAScript 2015+, it doesn't mean that you want to ship ECMAScript 2015+ code to your users (you might need to support older browsers).

The new module format allows rollup for smarter bundling, which is not tightly coupled to the rest of the code being written using new versions of JavaScript.

[2019-01-11 19:17] ndresx opened #294 "Plugin seems to be ignored for some reason?"
I have tried to add `rollup-plugin-babel` to my project (commit: https://github.com/ndresx/react-countdown/commit/1cfd3c453e142d46dc755b01bf6eac2232ec32a8), but somehow, it doesn't seem to have any effect on the generated bundles, neither when defined in the rollup config file, nor through `babel.config.js`.

I must be missing something or doing something wrong, but I'm not really sure anymore wha

[2019-01-11 21:57] Andarist commented on #294
If your TS files are the problem then you need to specify `extensions` option.

[2019-01-11 22:16] ndresx commented on #294
@Andarist Thank you very much, works like a charm now!

[2019-01-11 22:16] #294 closed

[2019-01-16 18:41] deanmartinez commented on #293
Thank you for the explanation @Andarist, the [link to the Rollup wiki](https://github.com/rollup/rollup/wiki/pkg.module#wait-it-just-means-import-and-export--not-other-future-javascript-features) cleared things up for me:

Yes.

Appreciate your time. Cheers! 👍

[2019-01-16 18:41] #293 closed

[2019-01-16 21:23] aparajita opened #295 "Helpers are inlined when using 'externalHelpers'"
The bug reported in #245 remains. Using a global `babelHelpers` (as documented in this plugin's README) is currently not possible, and of course should be.

Here's the problem:

https://github.com/rollup/rollup-plugin-babel/blob/e74683232e2b9fc15199e890074a6151cfa5c55c/src/index.js#L108-L110

Line 108 seems wrong.

- If I run the code through `babel`, it's doing the right thing: generating `babelH

[2019-01-17 07:51] ntucker commented on #271
When I run babel-cli it works fine - .babelrc or babel.config.js.

with rollup it's not picking up either

[2019-01-17 22:49] Andarist commented on #295
Could u prepare a sample repo showcasing the problem? It would help tremendously as I could get into fixing this quicker.

[2019-01-17 22:49] Andarist commented on #271
@ntucker could u provide a repository with the issue reproduced?

[2019-01-18 16:00] arendjr opened #297 "Issue trying to compile ES6 classes in combination with rollup-plugin-commonjs"
Not sure in which repository I should report this, so I also created https://github.com/rollup/rollup-plugin-commonjs/issues/369

When I use rollup-plugin-commonjs on a CommonJS module that contains an ES6 class that gets transpiled through rollup-plugin-babel, the CommonJS requires() and exports are no longer processed.

Here's a showcase for the issue: https://github.com/arendjr/rollup-commonjs-

[2019-01-18 16:35] Andarist commented on #297
Babel parses files by default as "module", it therefore inserts `import` statement to your code to reference babel helpers here:
https://github.com/rollup/rollup-plugin-babel/blob/66f2f41fb8055dc7ddd8ad28362efbf1f03e72ed/src/helperPlugin.js#L17

Later commonjs plugin parses your code to decide if it's a module or if it's a script and it decides it's a module (because it has import statement insert

[2019-01-18 16:43] arendjr commented on #297
The requires are there because I want to migrate a rather large existing codebase from Browserify to Rollup. I do want to move toward `import` statements, but I thought it'd be a good first step to get everything to work without doing a lot of code rewrites off the bad, which I thought is what the CommonJS plugin is supposed to handle.

Why does the CommonJS plugin skip ES modules, btw? Because if

[2019-01-18 16:59] Andarist commented on #297
Yeah, they wont work. Its rather not a good idea to mix those 2 - in module world `require` is as good as any other identifier, its not reserved for CJS module format anyhow, so I guess that this plugin assumes it doesnt have to rewrite those because they might be something else.

It should be possible to set `sourceType: 'unambiguous'` - https://babeljs.io/docs/en/options#sourcetype as babel opti

[2019-01-18 17:07] aparajita commented on #295
Sure, I'll put something together today.

[2019-01-18 18:05] ntucker commented on #271
@Andarist Turns out I was missing the extensions: ['.js', '.ts'] on babel options so babel was just skipping my .ts files due to that.

[2019-01-18 19:13] arendjr commented on #297
Thanks, that helps me along a bit, indeed!

I think this settles it from the side of the Babel plugin for me, so I'll close it. I'm not sure about the other one though, I kinda feel the CommonJS plugin should at least provide the option to still do its job even when it thinks something is an ES module, so I'll leave a reply there.

[2019-01-18 19:13] #297 closed

[2019-01-18 20:40] bdwain commented on #295
I noticed this too, and it seems to have started when I upgraded to babel7 and rollup-plugin-babel 4.0.3 from v3.0.7.

[2019-01-18 22:55] aparajita commented on #295
Yes, it's a regression that appeared somewhere during that upgrade.

[2019-01-19 19:17] aparajita commented on #295
Here's a reduction.

[code]

Notice that `gulp compile` generates the inlined helpers, whereas `gulp compile-fixed` uses the global `babelHelpers`. The only difference between them is I'm using a fixed `rollup-plugin-babel` that changes the line I mentioned.
[issue-295.zip](https://github.com/rollup/rollup-plugin-babel/files/2775888/issue-295.zip)

[2019-01-19 19:19] Andarist commented on #295
Fixed in 4.3.2, could you confirm it?

[2019-01-19 19:21] Andarist commented on #275
This has been released in 4.3.0

[2019-01-19 19:21] #275 closed

[2019-01-19 19:22] #251 closed, assigned to nobody

[2019-01-19 19:23] #262 closed, assigned to nobody

[2019-01-19 20:02] aparajita commented on #295
Fixed, thank you!

[2019-01-19 20:02] #295 closed

[2019-01-19 20:04] aparajita commented on #245
This was a regression in the plugin which has been fixed in 4.3.2. No need to use `@babel/plugin-transform-runtime` as a workaround.

[2019-01-23 02:59] rojakcoder opened #298 "Transpiled code not converting all instances of `const` for Vue"
I've gone through issue #260 - I also have a similar problem but the suggested solution does not work for me.

Similar but different problem. Not all `const` keywords are replaced with `var` - seemingly those at the top-level are converted whereas those inside functions are not.

Be happy to hear if this is turns out to be my configuration problem rather than an issue with the plugin.

My Rollup c

[2019-01-23 09:51] Andarist commented on #298
The configuration seems OK. I can't help you further though, unless you provide a repository at which I could take a look.

[2019-01-24 15:50] rojakcoder commented on #298
Thanks @Andarist for the help.

The repo is at [https://github.com/rojakcoder/randomizer](https://github.com/rojakcoder/randomizer).

I've got some additional findings.

On my laptop, the transpilation works fine. Laptop is using node 8.9.4, npm 6.5.0.

On my desktop, the same problem occurs which is at the outer most scope, the `const` keywords are replaced but the `const` keywords inside functio

[2019-01-25 03:39] DrunkenPoney commented on #298
I have the exact same issue and I'm using node v11.7.0 with npm 6.5.0 and I'm on a linux laptop.

[2019-01-25 09:47] Andarist commented on #298
Can't reproduce it on node@10 and node@11 :/

Are those leftover `const`s coming from .js or .vue files? Are they from your files or from node_modules files?

[2019-01-25 17:23] renatodeleao commented on #298
I'm facing the same issue but all `const` code is left by what i suspect being "style injectors" from `vue-template-compiler`. Anyone has a workaround for this?

### [Demo repo](https://github.com/renatodeleao/rollup-starter-vue-lib).

#### tests
Already tested several variations of babel configs, similars to the ones provided above, tested node@10 and @11 (latests)  and also this advice from http

[2019-01-25 19:20] Andarist commented on #298
@renatodeleao in your case everything works as expected, those `const` come from node_modules and you have explicitly configured rollup-plugin-babel to ignore node_modules - https://github.com/renatodeleao/rollup-starter-vue-lib/blob/5ab5a71ec0a5a13e6f1048af26be624a4091a10b/rollup.config.js#L11

[2019-01-25 19:51] renatodeleao commented on #298
Oo

🤦‍♂️

I don't know what to say besides.. i'm sorry for wasting your time 😞

[2019-01-26 09:12] kentor commented on #255
Hmm `extensions` doesn't seem to work...

rollup.config.js:
[code]

.babelrc.js:

[code]

Error:
[code]

[2019-01-26 09:15] rojakcoder commented on #298
From my limited knowledge of Vue, it seems to be coming from the Vue library. Specifically, it occurs in the function `normalizeComponent`. In fact all three occurrences happen within this function.

[2019-01-26 09:42] Andarist commented on #255
Please share a repository with the issue reproduced, without that I won't be able to diagnose the issue.

[2019-01-26 09:46] Andarist commented on #298
This might be a problem then, most likely `node_modules` are just ignored. Could you do this:
[code]
and check if that fixes you issue?

[2019-02-01 09:07] rojakcoder commented on #298
I can't replicate the issue even on the desktop now. I have no idea what is happening...

[2019-02-01 09:07] #298 closed

[2019-02-01 18:52] NathanielHill commented on #229
FWIW to anyone looking this works now with `exclude: /node_modules/` :+1: :+1:

[2019-02-01 22:00] zhaparoff commented on #255
Faced the same issue.

When running babel isolated - it successfully transpiles TypeScript to JS files.
But when trying to do the same using rollup and rollup-plugin-babel, it fails with:

[!] Error: Unexpected token (Note that you need plugins to import files that are not JavaScript)
src\entity1.ts (3:28)
1: import * as Framework from "./framework";
2:
3: export function OnFormLoad()**_: void_**

[2019-02-01 23:44] Andarist commented on #255
@zhaparoff

1. u need to remove `include` from rollup-plugin-babel options (or rewrite it). Currently you are passing a full path to it and I suspect this doesnt play along with how it's implemented - using standard `createFilter` from `rollup-pluginutils` ( https://github.com/rollup/rollup-pluginutils/blob/d15e5ad0f2bdbf6caa0dd587ec9a712dc2f7c8b7/src/createFilter.ts )
2. you also need to configur

[2019-02-02 11:00] Andarist commented on #255
Well, if you want to have multiple script tags you can't go with no external dependencies (if u want to support IE). In any system you have to keep register of your dependencies which basically means that you have to have external dep for that - either SystemJS, or amd loader.

[2019-02-02 11:56] zhaparoff commented on #255
Unfortunately, in my particular case all dependencies have to be managed manually, as in ancient times of Web 1.0 =(
Since they are stored in the DB as blobs, not in filesystem, they don't have fixed url (it is generated dynamically during web page generation), so can't  be referenced by other scripts in any comfortable way. And there is no dependencies support OOTB in that system... So in the web

[2019-02-02 19:54] Andarist commented on #255
If you don't care about caching etc I would probably go with a single bundle per site (I don't mean a single monolithic bundle). Which actually sounds like something you have described that you want to do - if I got your intention right.

For that you just have to create (can be programatically) a rollup config per site, and not a single config with multiple entries (what you have tried to do).

I

[2019-02-04 06:12] zhongs commented on #237
@ali-master @ovac I also encountered this problem.

install babel 6.x  can evade problems
`npm install --save-dev rollup-plugin-babel@3`

[2019-02-07 00:48] arizonatribe commented on #152
He _did_ configure it correctly (as it shows in his code output)

[2019-02-19 21:11] dszakallas commented on #40
I have exactly the same issue. The circular dependencies actually cause an endless recursion inside typeof.

[2019-02-20 18:04] Aaron-Pool opened #299 "Confused about how to externalize babel helpers in certain circumstances"
I'm attempting to create a library of vue components. I'm using the @vue/preset-app which automatically includes the `transform-runtime` babel plugin. So, I had set `runtimeHelpers` to true to get the build to run. But I would _still_ like to externalize the babel-helpers so they're not bundled with the library. I have a `@babel/runtime` dependency for the library. So I'm allowing the consumer app

[2019-02-20 18:45] Andarist commented on #299
This is caused by this https://github.com/vuejs/vue-cli/blob/c078633be1127b0dd19b0ccb1b6cb6022288d960/packages/%40vue/babel-preset-app/index.js#L62

You should be able to override this behaviour with something like `['@vue/babel-preset-app', { absoluteRuntime: false }]`

[2019-02-20 18:49] Aaron-Pool commented on #299
Great! I'll give that a try. Appreciate the super timely response.

[2019-02-20 20:11] Aaron-Pool commented on #299
Well, wanted to update you to let you know that overriding that option did not fix the issue. But since I can see that this isn't an issue with this plugin, but the vue preset, you're fine to close this.

[2019-02-20 23:07] Andarist commented on #299
If you want you can share your current setup (in a manner that I could do `npm install && npm run build` or similar) and I could take a quick look at it.

[2019-02-21 15:34] Aaron-Pool commented on #299
Ok, I'll see if I can get a minimal repro for you at some point today.

[2019-02-26 22:19] ravecat opened #300 "How to exclude babel helpers from bundle for babel 7"
Try to exclude helpers from bundle according to [docs](https://github.com/rollup/rollup-plugin-babel#helpers) (but with that I use `"@babel/core": "7.2.2"` and `"rollup-plugin-babel": "^4.3.2",`)

[code]

And get error on build

[code]

With enabled `runtimeHelpers` build is ok

[code]
 but bundle has more size.

How to exclude babel helpers from bundle for babel 7?

Code for reproduction availabl

[2019-03-06 01:29] mwood23 commented on #255
For anyone using React with Typescript and running into this issue, you also need to add `@babel/preset-react`

.babelrc
[code]

rollup.config
[code]

[2019-03-09 20:14] christophehurpeau commented on #268
I have the same issue, but I only use the plugin `babel-plugin-minify-dead-code-elimination` to perform some optimizations.
Would it be possible to add an option to skip the preflight check before the next major ?

[2019-03-10 05:49] pizza-r0b opened #301 "Error: Runtime helpers are not enabled"
My rollup babel plugin intialization:

[code]

You can see runtimeHelpers is true yet I still get the error `Either exclude the transform-runtime Babel plugin or pass the `runtimeHelpers: true` option.`

My babelrc

[code]

[2019-03-10 10:28] DonNicoJs opened #302 "Vue-cli + Rollup plugin babel: Unexpected Situation arose"
I am building a library with vue-cli ( for the dev part ) and rollup to build the library.
I updated everything to the latest  version and I started to receive this error

`(babel plugin) Error: An unexpected situation arose. Please raise an issue at https://github.com/rollup/rollup-plugin-babel/issues. Thanks!`

Simply swapping babel preset in babel.config.js from

[code]

To

[code]

Fixed both

[2019-03-10 11:06] nicolo-ribaudo commented on #302
This looks like a bug with the `@vue/app` preset.

[2019-03-10 11:09] Andarist commented on #301
Could you share repository with the issue reproduced?

[2019-03-10 11:13] Andarist commented on #302
Could you share repository with the issue reproduced? Hard to tell what's wrong without being able to test it.

[2019-03-10 15:31] DonNicoJs commented on #302
@Andarist yes sure, this evening I should have it online!

[2019-03-10 18:52] #301 closed

[2019-03-12 08:48] Zousdie commented on #300
If you use babel 7, you need this babel plugin: @babel/plugin-transform-runtime.

babel.config.js:
[code]

rollup.config.js:
[code]

reference: [https://babeljs.io/docs/en/babel-plugin-transform-runtime](https://babeljs.io/docs/en/babel-plugin-transform-runtime)

[2019-03-12 16:11] DonNicoJs commented on #302
@Andarist Okay I tried to revert the fix and now.. is working even with `@vue/app`. What I did in between was switching my node version (broken npm)
Closable I think, sorry for the delay and the fuss!

[2019-03-13 08:02] #302 closed

[2019-03-14 18:04] sormy opened #303 "Transform on chunk level instead of module level"
Would you be open to accept PR that introduces new option to run babel also on chunk level using rollup `renderChunk` hook?

With current implementation this plugin can't transform some wrapping code that could be added by plugins and rollup itself.

Processing  using `renderChunk` hook (chuck level) instead of default `transform` (module level) can bring support for targets that are not officiall

[2019-03-17 16:15] ranquild commented on #246
For everyone coming here from goggle, using `rollup-plugin-auto-external` makes `@babel/runtime` bundled. Solution is to use custom external function from @Andarist .

[2019-03-18 20:57] detj opened #304 "Supporting babel syntax plugins"
Babel supports [syntax plugins](https://babeljs.io/docs/en/plugins#syntax-plugins), allowing babel to parse the syntax without transforming the code. But `rollup-plugin-babel` [always transforms](https://github.com/rollup/rollup-plugin-babel/blob/18e4232a450f320f44c651aa8c495f21c74d59ac/src/index.js#L112) by default.

For example, for the following babel config

`babel.config.js`
[code]

running `

[2019-03-18 21:01] nicolo-ribaudo commented on #304
If Babel doesn't transform JSX, it will give rollup code containing JSX and rollup can't understand it.

[2019-03-18 21:20] detj commented on #304
I see. thanks for the quick answer @nicolo-ribaudo

[2019-03-18 21:20] #304 closed

[2019-03-26 21:05] ravecat commented on #300
@Zousdie yep, I know about runtime plugin, but I want exclude babel helpers from my bundle according docs https://github.com/rollup/rollup-plugin-babel#helpers and use external-helpers

[2019-03-26 23:04] Andarist commented on #300
The external function receives every id which rollup tries to load, if it returns true then rollup will leave the import in place (it wont bundle it), if it returns false though then it will bundle it (default behaviour).

[2019-04-03 11:15] #300 closed

[2019-04-05 14:07] catamphetamine commented on #162
Since this is the first result in Google im posting my solution to this issue:

[code]

`rollup.config.js`:

[code]

[2019-04-08 02:16] danrossi opened #305 "intergration with babel 7 and preset-env"
I only just upgraded my versions and had to figure out how to integrate the preset-env. I've set a target but it seems to still be polyfilling classes. Is this correct ?

[code]

[2019-04-09 09:07] tapan2721 commented on #209
@shravya95 I have been struggling with this for a while. Thanks a lot.

[2019-04-15 18:38] HIGGO36 commented on #253
Many of the fix comments above for the error ("[!] (babel plugin) Error: Cannot find module '@babel/preset-env' from ...") are not necessary if using the 'babel-upgrade' tool.
(which will automatically handle most of them)

Working with npm, i used the 'npx babel-upgrade --write --install' command to do entire Babel 7 upgrade.
( Ref: https://github.com/babel/babel-upgrade/blob/master/readme.md )

[2019-04-17 11:25] SumNeuron opened #306 "babelHelpers is not defined: async / await"
**NOTE**: I have read several issues with titles similar to "babelHelpers is not defined" + / - "async await". I have tried several of the proposed solutions which did not work in my case.

## Error

babelHelpers is not defined

[code]

## rollup.config.js

[code]

function causing issue:

[code]

Please help

### dev dependencies

[code]

[2019-04-17 15:45] SumNeuron commented on #306
I've gone ahead and fiddled with my rollup.config  file

[code]

I can now import without error but trying to call the code in this [sandbox](https://codesandbox.io/s/pyx14r6jpm) results in

[code]

I find this odd because this happens even when I import the module _directly_ (rather than the rollup-ed version)

[2019-04-17 17:04] SumNeuron commented on #306
While the provided code is fairly minimal I went ahead and made an even more minimal example:

MWE:
git repo: https://gitlab.com/SumNeuron/raab

Test the async function:
codesandbox: https://codesandbox.io/s/6ynk7mqpvw

This seems to work? (although it throws errors when built `npm run build`)

However the example above (the same structure and config) does not work (sandbox https://codesandbox.io/

[2019-05-04 14:51] naecoo commented on #237
it solved my problem

[2019-05-07 01:22] morewry opened #307 "Throws SyntaxError: Unterminated template for no apparent reason"
I'm having an issue with this plugin(?) throwing a `SyntaxError: Unterminated template` on [seemingly valid code produced by a prior plugin](https://svelte.dev/repl/6b9ecea285b34b7a99958a424ed0cbf3?version=3.2.1). If I remove this plugin, the code runs in Chrome without errors. The [Babel REPL](https://babeljs.io/repl/#?babili=false&browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&cod

[2019-05-07 18:35] morewry commented on #307
I'm finding this happens only when the rollup build is run with the watch flag.

[2019-05-07 19:03] loganfsmyth commented on #307
I wonder if this could be the watch mode itself causing issues, for instance if it tries to read the file content while your editor is still in the process of writing the new file content. I'd be very surprised if this was a Babel-related issue, other than Babel's presence maybe affecting the timing of things.

[2019-05-07 19:21] morewry commented on #307
It's looking more and more like it actually _is_ Babel's issue. It chokes on a CSS source maps inside a template literal. Chrome is fine with the same code.

[It chokes on a newline followed by a slash `/` in a template literal.](https://babeljs.io/repl/#?babili=false&browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&code_lz=FACgZgrgdgxgLgSwPZRAGwDQAIHYG7YCmAlFgN5Z5YC8WaAdDAE6ECGchAomo

[2019-05-07 19:28] morewry commented on #307
[But if we take it down to this super reduced case, it's fine...](https://babeljs.io/repl#?babili=false&browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECyCeAhEB7YBraBvAUNawKAdhAC4BOArsKSuQBQCU2e-0pAFgJYQB0XRIgFNyACQAqsADLQAvNAAGAEy4A3bCogAHcPABc0AEaoMAXxwB6AFTQIKALZCCDx0VLQrFhQG5W580A&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate

[2019-05-07 19:28] #307 closed

[2019-05-07 19:43] loganfsmyth commented on #307
Ahh perfect. That sounds like https://github.com/babel/babel/issues/9790

[2019-05-08 10:03] muuvmuuv opened #308 "Does not work with classes?"
When I try to rollup my entry file [`boobreaks.ts`](https://github.com/muuvmuuv/boobreaks) it still outputs the class but with [pure babel](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA28DGnUDOBcAQhBAEZTCoDWxA3gFBxw4QB2BMU6OM0ABQBKOM1asYACwCWBAHQA3VFGIBeMQF8WcbdqA&debug=false&forceAllTransforms=false&shippedProposals=f

[2019-05-09 18:41] #308 closed

[2019-05-20 18:15] skeggse opened #309 "Option to disable preflightCheck"
In optimizing our rollup builds, I noticed that a substantial portion (~16%) of the babel plugin's execution time occurs in the preflight check. As I best understand it, the preflight check is designed to ensure that the configuration provided to rollup will not conflict with the configuration provided to babel itself, and that this may vary on a file-by-file basis.

For performance reasons, we'd

[2019-05-21 03:09] brendonco opened #310 "throws Unexpected token for babel.config.js"
package.json

[code]

babel.config.js

[code]

error:

[code]

[2019-05-21 04:18] loganfsmyth commented on #310
Since it is a JS file, you need to assign the config into the module export.

[2019-05-21 19:50] jcubic commented on #306
I have same issue but got error `ReferenceError: regeneratorRuntime is not defined`

Is there a way to use Rolup, Babel and async/await?

[2019-05-21 20:16] jcubic commented on #306
The only way to fix the issue is to add this in the file:
[code]

why don't adding options to import external modules or load this one by default? This plugin configuration don't work you can't set this import with rollup config.

[2019-05-22 00:46] mirismaili commented on #162
Do you try [rollup-plugin-node-globals](https://www.npmjs.com/package/rollup-plugin-node-globals)?

[2019-05-25 21:51] jcubic commented on #306
Here is my setup, finally it's working (without need for import):

[code]

[2019-05-25 21:53] jcubic commented on #209
Finally resolved the issue in #306 last time I simply remove async await from the code.

[2019-06-17 12:28] MwumLi commented on #273
babel 7 provide programmatic options `configfile`, which default is `${root}/babel.config.js`, https://babeljs.io/docs/en/options#configfile

[2019-06-21 14:17] slavafomin commented on #274
Hello!

So, @Andarist are you telling that `rollup-plugin-babel` will automatically handle `.ts` files by passing them through the TypeScript compiler? If so, how do you specify path to the `tsconfig.json`?

Thanks.

[2019-06-22 09:57] Andarist commented on #309
It's been implemented in https://github.com/rollup/rollup-plugin-babel/pull/292 but I didn't proceed with that PR further because wasn't sure if the whole thing is a good idea. would appreciate your opinion on changes there.

[2019-06-22 10:02] Andarist commented on #303
Sure thing, I could consider it - I'm not up to all recent stuff regarding rollup plugin hooks though. Could you describe shortly difference between transform (used one) and renderChunk? Is transform just run per file and renderChunk for concatenated chunks?

[2019-06-22 10:03] Andarist commented on #310
Also babel.config.js is only supported since babel@7 and looking at your pasted in dependencies you are still using babel@6.

[2019-06-22 10:03] #310 closed

[2019-06-24 17:51] sormy commented on #303
Transform runs per file and doesn't include rollup glue code our auto-generated wrappers. That is causing that babel can't transform rollup glue code that could be incompatible with target system. If babel could run once on result file it could be better because everything (including glue code) will be processed at once, helpers will be emitted once etc...

[2019-06-24 18:51] Andarist commented on #303
It makes potential transform caching harder as the cached values would be invalidated way more often.

@lukastaegert what would the best way to transform generated code wrappers right now? Maybe it would be possible to add a hook for that?

[2019-06-24 19:41] lukastaegert commented on #303
I do not think just transforming the wrapper code alone would be easy as it is usually two blocks of code at beginning and end that are connect e.g. because it is two parts of a function. I personally think there might be room for both. Running babel in renderChunk would be slower for development but Rollup heuristics tend to work better on untranspiled code.

[2019-06-24 21:20] Andarist commented on #303
It could work on template-like code - consider IIFE closure wrapper:
[code]
where `ROLLUP_CHUNK` would be inlined after the transformation.

Often~ babel is used to transpile syntax which rollup is not able to understand on its own, so just moving to renderChunk from transform is unfortunately not an option (even if only in prod env).

[2019-06-25 05:09] lukastaegert commented on #303
I see those points, I am just not sure if a transformer for Rollup's wrapper code is a good way forward, also with other planned developments in mind. I think for the issue at hand, performance might not be an issue as it is probably not necessary for development.

What I would suggest is that it is possible to run Babel with an option to transform the generated chunks instead of the input modules

[2019-06-25 05:13] lukastaegert commented on #303
This is also important as Rollup ditched its legacy option for IE8 support—a controversial move that I myself have still mixed feelings about but unfortunately we do not have a good testing infrastructure to do the IMO necessary browser tests. The legacy option mostly changed some things in the wrapper code but there were also some bits about namespaces that were changed I believe. Having the opti

[2019-06-25 05:16] lukastaegert commented on #303
@sormy Depending on what @Andarist says my suggestion would be to have an option to run it on the chunk level **instead** of the module level. Maybe that is what you meant, in that case, you could adjust the description of the issue? Technically, it should be possible to have more than one Babel plugin in the pipeline.

[2019-06-25 08:08] Andarist commented on #303
Yeah, that's totally possible. I've also thought about this double-babel approach - I guess it's the easiest way of moving forward.

@sormy as @lukastaegert has proposed - this would have to be an option, not a default. I don't have time personally to implement this, so any help would be appreciated. I would advise to hold off a little bit though - I'm planning to revive and land #292 soon, so to

[2019-06-28 12:55] htho opened #312 "minimal working example: rollup + babel + async/await"
I saw some issues (#209, #306) and [questions on stackoverflow](https://stackoverflow.com/questions/39902076/babel-rollup-errors-transpiling-and-bundling-es2017) about how to configure rollup and babel so I can use async and await. There are many (often outdated) answers and it is a tedious, difficult (but hopefully not impossible) task to create a working rollup.config.js. I was not able to do th

[2019-07-01 02:11] jhpratt commented on #145
@Andarist My code builds as expected with just Babel. Introducing Rollup into the mix breaks things.

[2019-07-02 07:58] leegee commented on #305
Is anyone looking at this?

[2019-07-02 08:13] nicolo-ribaudo commented on #305
You can pass the `debug: true` option to preset-env and it will explain why it is transpiling things

[2019-07-02 09:07] Andarist commented on #145
@jhpratt To get help you'd have to share a repository with the issue reproduced. Can't help you without seeing how exactly you have setup your project.

[2019-07-02 09:25] Andarist commented on #312
It all depends on what are your requirements and target format, you can make your example work by using such a setting:
[code]

[2019-07-02 10:43] htho commented on #312
I am required to set the corejs version.
[code]

OK, **which** core-js should I use, and **where** do I "explicitely" set the corejs version via the `corejs` option?

I can not find the answer: https://duckduckgo.com/?q=babel+rollup+declare+the+core-js+version&t=ffab&ia=web

[2019-07-02 12:00] Andarist commented on #312
Use latest one:
[code]

[2019-07-02 12:31] htho commented on #312
Still not sufficient:
[code]

[2019-07-02 15:07] Andarist commented on #312
U have to install regenerator-runtime module and u should be ready to go

[2019-07-02 19:50] htho commented on #312
Thank you so far.
I have updated my repository in order to reflect the changes we discussed.
The regenerator is available now.

But IE still needs a Polyfill for Promise. I'd expect babel to include it aswell, but it isnt. Is it a problem with babel? To my understanding, the babel documentation suggests that the Promise polyfill is included aswell: https://old.babeljs.io/docs/usage/polyfill/

[2019-07-02 20:22] Andarist commented on #312
In your example rhe reference to a Promise is only in so called babel helpers (asyncGeneratorStep & asyncToGenerator here). Those are insertes "as is" - without compilation, so preset-env doesn't visit it to see a Promise which would cause it to insert a ponyfill import. To work around this you can insert `Promise.resolve()` into your code, or you can just polyfill Promise globally.

[2019-07-02 21:09] htho commented on #312
Hi. Once someone explained the internals to me, this seems totally logical. But in my opinion consumers of a tool should not need learn these internals. They should not be required to solve this problem on their own. The solution should not be a dummy call to `Promise.resolve()`. But that is another topic.

I really feel stupid for asking all these questions. On the other hand, I am really frustra

[2019-07-03 06:43] Andarist commented on #312
I agree with all of your points, this is a surprisingly hard thing to do for something supposedly that simple. Even I had to look through docs and babel source code to try find a good combo of options for various outputs which I have wanted to achieve here.

Problem is that requirements are different for people though, one is fine with polluting global namespace with polyfills, one is not and want

[2019-07-04 23:57] renoirb commented on #312
Have a look at egoist/bili  it removes a lot of the complexity.  And uses rollup under the hood.

I've pulled my hair about this today, and I could have recent Babel 7, along with tests to work. Lots of things changed since Babel 6.

I pushed something that works with testing with recent config. Tests works woth modern async/await, uses modules and does transpilation in different targets (e.g. Nod

[2019-07-05 05:37] htho commented on #312
Hi @renoirb,

bili sounds nice. But I am always sceptical when I need to put more and more parts of my build-process into someone elses hands. New systems introduce new problems. This speaks from my heart: https://bravenewgeek.com/tag/taco-bell-programming/
As long as I can, I want to use the `cat`, `sed` and `grep` of the bundle/transpile world.

Anyway, it is good to know that there is bili out

[2019-07-05 09:54] txs1992 commented on #237
@ovac You can look at this https://github.com/babel/babel/issues/8908

You should delete "babel-preset-env": "^1.7.0", and do presets: ['@babel/preset-env']

[2019-07-08 03:32] bosens-China opened #313 "Unresolved dependencies core-js"
## Output information
[code]
## expect
Packing Dependencies Correctly into Output Files

## configure
babel.config.js
[code]
rollup.config.js
[code]
I think it's the Babel 7 useBuiltIns problem, but what should I do?

[2019-07-08 05:04] loganfsmyth commented on #313
You need to add `core-js` as a dependency if you are using `useBuiltIns: 'usage'`. https://babeljs.io/docs/en/babel-preset-env#usebuiltins

[2019-07-08 05:45] bosens-China commented on #313
@loganfsmyth
You're right. I looked up the dependencies and found that corejs was installed.

[2019-07-08 05:45] #313 closed

[2019-07-08 07:34] FuJuntao commented on #312
[code]

Hi,
I didn't find an "internals" directory, so where did it require internals?

[2019-07-08 07:45] htho commented on #312
Hi @FuJuntao as far as I understood the problem. This code is copied&pasted somwhere from within babels directory structure. Somewhere in there, there might be an internals directory. But the problem is, that the code is not transpiled/included before it is moved here.

[2019-07-10 14:41] leegee opened #314 "Babel config location"
From the `README.md`:

From the [Babel site](https://babeljs.io/docs/en/configuration):

Please?

[2019-07-10 14:44] leegee commented on #314
Oh, is this module for Babel 6?

[code]

[2019-07-10 16:19] leegee commented on #314
My fault — had a rouge line of code. Sorry & thanks!

[2019-07-10 16:19] #314 closed

[2019-07-14 20:44] subdavis opened #315 "Vue + Babel: "Unexpected Situation Arose""
#302 appears to be similar to what I am experiencing, but the patron of that issue didn't really share how it was resolved.

## Steps to reproduce:

1. Clone the `rollup` branch of https://github.com/girder/girder_web_components/tree/rollup
2. `yarn`
3. `yarn rollup`

Please note that I am attempting to convert a large webpack project to rollup, so I don't expect that, if this issue is fixed, the

[2019-07-15 07:13] pkhodaveissi commented on #252
I still have this warning though:
```(!) Circular dependency: node_modules/@babel/runtime/helpers/typeof.js -> node_modules/@babel/runtime/helpers/typeof.js```
but works at the end
also my babel looks like this:
[code]

[2019-07-16 17:49] SumNeuron commented on #251
I'm facing the same issue :/

[2019-07-18 22:58] achmadk commented on #312
as a workaround, set `useBuiltIns` value to "usage" inside `@babel/preset-env` options. These required variables from `internals` came from `core-js` internal.

[2019-07-19 10:57] chrisfinch commented on #303
I'm having exactly this problem at the moment - a plugin that I am using `rollup-plugin-off-main-thread` adds some wrapper code that is not transformed with babel and breaks my build - is there any temporary fix I could add?

[2019-07-19 11:46] houd1ni commented on #305
@nicolo-ribaudo  Tried the option. Seems, like the option `ie 6` is caught from .babelrc, but output is also full of arrow and async functions etc.

[2019-07-22 01:26] sormy commented on #303
Fixed the description of the issue. It could be great to have a `rollup` core feature to choose if wrapper code should be also transformed but until it is implemented we could create an option to opt in into babel transform on chunk level.

[2019-07-25 15:16] slavafomin opened #316 "Some symbols are removed from the bundle, but polyfill imports are left for them"
Hello!

Thank you for this great plugin!

But, could you please share your thoughts on the following issue?

Consider a case, where there is a symbol in the source code, which triggers addition of the polyfill import by `preset-env`, like `import 'core-js/modules/es.promise'`. However, this symbol is not used and not exported by the library, therefore Rollup removes it from the final bundle. And r

[2019-07-27 17:38] deini opened #317 "Babel plugin not running on ^4.3.0"
Not sure if I'm missing something but seems like I can't get `babel-plugin-styled-components` to run with `rollup-babel-plugin`.

It seems to work fine using `4.2.0` and below, but anything after `4.3.0` seems to behave differently.

Here is a repo https://github.com/deini/rpb-debug master branch is on `4.3.3` and there is a `4.2.0` branch. There are two directories for `rollup-output` and `babel-

[2019-07-30 09:05] samrith-s opened #318 "Cannot find rollupPluginBabelHelpers.js"
I'm using Rollup and Typescript to bundle my library. I'm using this plugin to allow custom `.babelrc`. The thing is, whenever I run build, it gives me this error:
![image](https://user-images.githubusercontent.com/9032162/62115986-ad6ff400-b2b9-11e9-8649-7b98702381ef.png)

Is there any way to fix this? I really need this to convert TS interfaces to PropsTypes! 😞

Here is the repository: https://g

[2019-08-12 16:54] green-arrow commented on #312
I'm having the same kind of issues. I've tried just about every combination I can think of between rollup and babel, but still can't get it working properly.

`rollup.config.js`:
[code]

The first few lines of my output file, however, contain references directly to `core-js` and `regenerator-runtime`. I have both of those installed as `devDependencies`.

[code]

[2019-08-12 18:34] green-arrow commented on #312
Update: Finally got it working with the following `rollup.config.js` (no babel config as it is inlined in the rollup config):

[code]

The fix was adding `rollup-plugin-node-resolve` and `rollup-plugin-commonjs`. I didn't need any additional babel plugins like `transform-runtime` or `transform-async-to-generator`.

CC @FuJuntao - I had the same `internals` references as you after I added `rollup-p

[2019-08-12 21:13] justinfagnani opened #319 "Update recommendations on compiling external dependencies"
I think the [advice to not compile external dependencies](https://www.npmjs.com/package/rollup-plugin-babel#external-dependencies) is a bit outdated and could use some clarification.

Native implementations of ES2015+ are now faster than down-leveled ES5 equivalents, and the code is smaller over the wire. This is _especially_ true with generators and async functions. Many native features, like ext

[2019-08-12 21:34] mbrowne opened #320 "Babel helpers check (preflightCheck) interferes with presets/plugin ordering"
I am having an issue with `babel-plugin-styled-components` not working (apparently it runs too late) when `@babel/preset-env` is also present. It works fine when compiling with Babel directly.

After quite a bit of debugging, I found that the preFlight check is what's causing the issue, specifically this line:
https://github.com/rollup/rollup-plugin-babel/blob/4d8c0c570e35200c3456372494d1029a4e2a2

[2019-08-13 00:18] drzraf commented on #313
@loganfsmyth: What do you mean exactly by `add core-js as a dependency`?

[2019-08-13 03:36] loganfsmyth commented on #313
@drzraf Add it in your `package.json`'s `dependencies`.

[2019-08-16 09:51] chaoranwill opened #321 "It takes longer to use the latest version"
When I upgraded from version 4.0.1 to latest, it took significantly longer time to build

[2019-08-16 10:12] chaoranwill commented on #321
I tested each version again and when I upgraded from version 4.0.3 to version 4.1.0-0, the time spent increasing. And I noticed that you added support for prettier in this version. Is this caused by this reason? Will it be optimized?

[2019-08-16 20:11] Andarist commented on #321
Prettier is only a development thing - it doesn't affect build times. The one thing that has changed between those versions is this commit - https://github.com/rollup/rollup-plugin-babel/commit/22f1b81f39ee21cdcbb44147e15bef973615738d - and this, in theory, might lead to longer build times. I haven't noticed it to be a problem though, what are the times (in your case) we are talking about?

[2019-08-17 08:49] chaoranwill commented on #321
Oh, Yes, you are right. It not caused by prettier.  I found that it is caused by the commit "Fix preflightChecks for ignored files".

[2019-08-17 09:12] chaoranwill commented on #321
@Andarist . Thank you very much for your reply. When I use the previous version, it takes 37 seconds to generate the product using rollup, but now it takes 45 seconds. Since there is a significant increase in time-consuming, are there other optimization options, such as using the original method for some directories, such as node_modules.

[2019-08-18 07:54] Andarist commented on #321
Merging this https://github.com/rollup/rollup-plugin-babel/pull/292 would allow you to use `skipBabelHelpersCheck` (or similar). I don't have much time to finish this PR though

[2019-08-19 07:31] htho commented on #312
Thank you @green-arrow now it works!

https://github.com/htho/mweRollupBabelAsyncAwait

@Andarist It still is necessary to include the dummy call to `Promise.resolve()``. Will there be a solution for this inconvenience?

[2019-08-19 07:31] #312 closed

[2019-08-19 10:01] adolt opened #322 "Babel helpers are bundled into the output file."
rollup.config.js
<img width="346" alt="image" src="https://user-images.githubusercontent.com/25565814/63256027-5aca9c00-c2a9-11e9-8f2c-f7cc074d7bb0.png">

If I add `@babel/runtime-corejs3` as a dependency. Babel helpers are bundled in, without any `import`.
<img width="488" alt="image" src="https://user-images.githubusercontent.com/25565814/63256464-34f1c700-c2aa-11e9-8171-82999fc62a5a.png">

But

[2019-08-19 10:29] Andarist commented on #322
I suspect that you could see some warnings about rollup's inability to resolve `@babel/runtime-corejs3` when you hadn't it installed.

That's because those imports are using "deep paths". With `@babel/runtime-corejs3` added to external you have only added literally `@babel/runtime-corejs3` to externals, not its subdirectories etc. I personally deal with this problem like [this](https://github.com/

[2019-08-19 11:47] adolt commented on #322
Appreciate to your reply.

Yes, there are some warnings actually. So, can I say that missing the `corejs3` dependency cause the output difference?

Also - runtimeHelpers & externalHelpers arent supposed to be used together.

Thanks. I've updated my rollup config like this, and worked as I expected.

[2019-08-19 11:49] adolt commented on #322
But there comes another problem. When I import my bundled `iife`-format file to one project, it throws an error while executing.
<img width="584" alt="image" src="https://user-images.githubusercontent.com/25565814/63263046-1e536c00-c2ba-11e9-838c-ada8ba92d0e1.png">

rollup.config.js
<img width="427" alt="image" src="https://user-images.githubusercontent.com/25565814/63262959-ee0bcd80-c2b9-11e9-84e

[2019-08-19 12:52] Andarist commented on #322
I dont actually see where is used before its value is assigned. To get more help regarding this you'd have to share a repository with the issue reproduced in it - without this it's guesswork.

[2019-08-19 13:20] adolt commented on #322
Very appreciate to your patience. I've created a [repo](https://github.com/adolt/rollup-babel-issue). Hope this will not take you too much time. Thanks!

[2019-08-20 05:08] halostatue opened #323 "Specifying include/exclude breaks packaging"
Background: I am experimenting with methods to potentially fix some nonsense perpetrated by Webpack in components I am incorporating into my application. Specifically, I am working with Vue.js and am using rollup, rollup-plugin-vue, and rollup-plugin-babel (as well as several others, as my example repo demonstrates).

When I specify the babel configuration as:

[code]

Everything works. If, howeve

[2019-08-20 07:37] Andarist commented on #322
The problem for sure is not in this plugin because it's sole responsibility is to transform single files with Babel. The issue ain't that easy to track down BUT my best guess is that `rollup-plugin-commonjs` fails to convert core-js properly (or rather it doesn't handle circular dependencies well, as core-js seems to have a TON of them). I would suggest reporting it over there.

[2019-08-20 07:54] Andarist commented on #323
This really depends on which of those options (include/exclude) are considered as the one with more priority. You could always make a compelling argument (with usage examples) for current semantics, and you can do the same for your proposed one.

This plugin actually uses "standard" rollup-pluginutils and its [createFilter helper](https://github.com/rollup/rollup-pluginutils#createfilter) to handl

[2019-08-20 08:49] adolt commented on #322
Got it. Thanks a lot!

[2019-08-20 08:49] #322 closed

[2019-08-20 09:48] bodograumann commented on #277
@nicolo-ribaudo Thx for that hint. This held me up for hours :-(

[2019-08-20 10:18] adolt commented on #322
@Andarist  Thanks for you help. I modified my `rollup.config.js` like #254 mentioned, and the problem solved.

[2019-08-20 14:05] halostatue commented on #323
I just opened rollup/rollup-pluginutils#67 to suggest a documentation update. I will suggest the same documentation update for rollup-plugin-babel from a [comment](https://github.com/rollup/rollup-pluginutils/issues/4#issuecomment-172707480) on rollup/rollup-pluginutils#4. I believe that this will satisfy my issue, although I could wish for better handling.

[2019-08-21 03:46] chaoranwill commented on #321
@Andarist  I found another problem. The judgment condition of the following code seems to be not rigorous, because the return value in _classCallCheck is also included, resulting in unnecessary repeated execution of the transform function. Is this a mistake or I am wrong?

`if (~check.indexOf('class ')) {
	check = transformSync(inputCode, addBabelPlugin(options, fallbackClassTransform)).code;
 }`

[2019-08-21 06:40] Andarist commented on #321
Do you mean that the check fails because of the resulting output containing that error string which has "class " in it?

[2019-08-21 07:20] chaoranwill commented on #321
Sorry, I got it wrong, please ignore the above question. But I still don't know what kind of problem you are trying to solve by changing preflightChecks.  If I continue to use the previous version, what kind of scenario will there be a problem? Thanks again 🙏

[2019-08-21 09:29] Andarist commented on #321
Not sure what do you mean, preflightChecks are supposed to catch developers misconfiguring this plugin. I don't want to change them, just want to provide a way to disable them entirely for power users who don't want to waste time on them and who are sure they know how to configure things without this plugin verifying it.

[2019-08-21 10:11] chaoranwill commented on #321
I found the answer here #16  . I understand that this is done to avoid ignoring the local .babelrc file. If I set babelrc: false and customize the configuration file, the change of preflightCheck have no effect on my project. Am I correct?

[2019-08-21 10:28] Andarist commented on #321
Still not sure if we are on the same page. At the moment (with current v4) `preflightCheck` is just something that happens within this plugin and is not something you can disable or configure in any way.

The preflightCheck gives us information about how your babel is configured for a certain file and that information is used to determine if rollup-plugin-babel has been configured correctly with e

[2019-08-21 18:09] U-4-E-A opened #324 "multiple entries - _rollupPluginBabelHelpers.js only contains helpers for final entry in array of entries"
**Configs**

rollup.config.js: -

[code]

.babelrc (inside /src): -

[code]

**The problem**

When I include the code in my webpack compiler, I get errors like these: -

[code]
It seems that providing an array of multiple entries results in a **_rollupPluginBabelHelpers.js** populated with only the helpers required for the final entry in the array.

Can anyone help me with this? I have read all th

[2019-08-21 20:11] Andarist commented on #324
What's your use case for mixing those:
- multi configs (don't confuse that with multi entries - which you actually dont use, multi entries are about passing multiple things to input option within a single config)
- same output directory
- using `preserveModules`

Combination of those looks rather bizarre to me, so you'd have to explain what you are trying to achieve before I can advise anything.

[2019-08-21 20:45] U-4-E-A commented on #324
Thanks for responding. I should have mentioned I am somewhat new to rollup. This is my first project using it.

These are model files relating to a database - they contain various constants and functions, most of which need to be exported for other functions to use. I used `preserveModules` as I was having an issue (similar to the current one) where I was exporting them all and any constants/funct

[2019-08-21 20:55] Andarist commented on #324
It all depends on how do you plan to import things exported by those files. One of your options is to do something like this:
[code]

[2019-08-21 23:01] U-4-E-A commented on #324
That looks like it worked perfectly. Thank you very much. I can stop pulling my hair out now.

One quick question... is there any way to have rollup autogenerate a main index file which exports all the files in `/lib/` ? For one of the libraries I have created, I would like to be able to use the following syntax: -

`import { Foo, Bar } from "@my/library"`

[2019-08-22 07:07] Andarist commented on #324
There is no such option in rollup natively, possibly you could write a plugin to do that. Or you could play with babel macros and this https://github.com/kentcdodds/codegen.macro . Or you'd have to write those reexports by hand :p

[2019-08-23 20:17] DominicTobias commented on #152
For me I had to add an exclude for `rollup-plugin-commonjs`:

[code]

[2019-08-27 09:29] Andarist commented on #324
I think the issue has been resolved, so I'm going to close this. Feel free to ask for reopening if you still have some problems

[2019-08-27 09:29] #324 closed

[2019-08-27 12:18] Andarist commented on #319
`.babelrc` inside node_modules are ignored nowadays when using Babel 7. You have to opt into transpiling node_modules with babel.config.js or options passed **directly** to rollup-plugin-babel (as those are merged into whatever got loaded through babel, even if nothing, for a particular file).

I could consider merging a PR with a new recommendation. However, I'm concerned about this. Configuring

[2019-09-03 07:15] dfrankland opened #326 "Uses babel.config.js when babelrc is false"
It has taken me a long while to figure out that the problems I was having with `rollup-plugin-babel` were because there is a conflict between the settings passed with `babelrc: false` and the actual `babel.config.js`.

Is it possible to disable using `babel.config.js` when `bablerc` is set to false?

Even if I set `runtimeHelpers: true` this causes code to compile weirdly. I am using `preserveModu

[2019-09-03 07:26] dfrankland commented on #326
Seems like there's another option [`configFile`](https://babeljs.io/docs/en/options#configfile) which must be passed in as `false` along with `babelrc` to completely disable loading configurations outside of the Rollup config. It might be a good idea to document this and maybe even throw some errors.

[2019-09-03 07:31] Andarist commented on #326
Feel free to prepare a documentation PR, as to throwing errors - that's not a good idea, because rollup-plugin-babel should reflect closely Babel's options and if Babel has 2 separate flags for this, then the same should be handled by this plugin.

[2019-09-03 07:39] dfrankland commented on #326
Sure, can do. Sorry, errors might be too harsh, more like warnings, but I get your point 👍

[2019-09-05 22:10] sgravrock opened #342 "Recursive require calls in node_modules aren't resolved when the @babel/env preset is used"
I'm trying to package some code that includes a tree of modules inside `node_modules`, using `rollup-plugin-node-resolve`, `rollup-plugin-babel`, and `rollup-plugin-commonjs`. It works until I add the `@babel/env` preset, at which point `require()` calls sufficiently deep in the tree are left in the generated code.

- Rollup Version: 1.20.3
- Operating System (or Browser): OS X 10.13.6
- Node Vers

[2019-09-06 03:28] webwyb commented on #245
By default externalHelpers option is set to false so babel helpers will be included in your bundle.

If you do not wish the babel helpers to be included in your bundle at all (but instead reference the global babelHelpers object), you may set the externalHelpers option to true:

rollup.rollup({
  ...,
  plugins: [
    babel({
      plugins: ['external-helpers'],
      externalHelpers: true
    })

[2019-09-06 19:43] Andarist commented on #320
Would be helpful if you could share a repository with the issue reproduced in it.

[2019-09-19 05:34] avivijiang opened #328 "how use babel/ployfill with rollup"
In webpack ,we can write [ 'babel-polyfill', 'public/bundle.js' ] in entry option,but rollup ould not resolve entry module (babel-polyfill).

[2019-09-26 10:01] cdll commented on #76
same issue herer that ``not auto adding needed polyfill`` with ``rollup-plugin-babel``+``babel-plugin-transform-runtime``😕😕

[2019-09-29 09:20] Alisaien opened #329 "Plugin breaks if file does not end with ".js""
As the title says this plugin breaks if the input file of rollup does not end with ".js".
(At least I think the issue is within the plugin, as other plugins seem to work fine. )
This issue mainly affects people who use Typescript.
Minimal example:
[code]
[code]
What should happen is that "babel" throws no error, but "typescript" does.
This shows that the error is exclusive to this plugin.

I also

[2019-09-29 12:53] Alisaien commented on #329
Rather than breaking the plugin, after some more testing, it seems that the plugin simply skips/ignores ".ts" files / files not ending with ".js".

[2019-09-29 20:37] Andarist commented on #329
Yes - this is how Babel works. It only handles certain extensions by default but you can opt-in to more with `extensions` option described here https://github.com/rollup/rollup-plugin-babel#usage

[2019-09-30 06:25] Alisaien commented on #329
I know, but that does not seem to work for me. I will upload a minimal package later, when I am back home (I used `include: ["*.ts", "*.js"]` and it still does not work ".ts" files).
As a side note, what I intended to tell you was that if you pass ".ts" files to Babel directly it will _not_ ignore them, but I do not know how you call Babel internally.

[2019-09-30 10:13] Andarist commented on #329
You actually have to use `extensions` option to opt into other extensions - `include` rule is not enough.

Interesting. Would love to see a repro - to check out how do you call Babel etc. AFAIR it shouldn't compile it - unless you maybe pass a single file directly to it.

[2019-09-30 11:56] Alisaien commented on #329
Thank you. I wonder how I managed to overlook this option.

From https://babeljs.io/docs/en/babel-preset-typescript:

and from https://babeljs.io/docs/en/babel-core#default_extensions:

But there is no mention of `@babel/core` and `transformFile(Sync|Async)` are the only functions that take an input file.

Here is the [demo repo](https://github.com/Alisaien/babel-ts-demo).

From looking at the sou

[2019-09-30 12:44] Andarist commented on #329
Problem is that skipping files is not necessarily a problem and it's hard for this plugin to know that. We don't want to touch asset files or files written entirely with a different language (like reasonml) - arguably we could skip non-JS (and TS extensions to achieve that). The bigger problem is that there are setups with both JS and TS files and not everyone wants to compile TS with Babel - it's

[2019-09-30 13:21] Alisaien commented on #329
I don´t use Babel to compile TS. My setup looks like this:
TS plugin, node-resolve plugin, babel plugin, CJS plugin, terser plugin.
But since the original files have the .ts extension they get ignored.

I understand what you mean and that´s why I said this plugin could generate a warning (not an error) and only if `extensions` option is not used.
So specifying the extensions is like saying, I know

[2019-10-03 18:42] ppiyush13 commented on #320
* I am also facing the same issue with `babel-plugin-styled-components`. Everything works fine when compiling directly with Babel.
* There is already one issue opened in `babel-plugin-styled-components` repository [#243](https://github.com/styled-components/babel-plugin-styled-components/issues/243) for same problem.

* @Andarist  as asked in above comment, I have created repository [rollup-babel-

[2019-10-07 12:02] blackstormx opened #330 "Rollup-plugin-babel is not loading identified modules from node_modules"
## Bug Report

**Current Behavior**
During build, I am getting errors:
[code]
etc...
My package .json:
[code]

And a part of a build script:
[code]
if I disable core.js3 plug-in, and manually try to import library from node_modules from inside my app's source code using `import {something} from "../../node_modules/bla/bla/"`
Into my source code, it still doesn't work. Same error. Can't resolve.
Al

[2019-10-07 12:15] Andarist commented on #330
For that you need https://github.com/rollup/rollup-plugin-node-resolve

[2019-10-07 12:28] blackstormx commented on #330
@Andarist  Thank you, and how do I use it in my build.js file? Currently if I try to `import resolve from "rollup-plugin-node-resolve";` I get

[code]
this error.

[2019-10-07 12:32] Andarist commented on #330
From what I see you are using `require` in that build.js file - so just require it, similarly to what you do with rollup-plugin-babel

[2019-10-07 12:43] blackstormx commented on #330
@Andarist, sorry for bothering you so much.
I included this plugin as `const resolve = require("rollup-plugin-node-resolve");`, then in `plugins[]` i passed: ```
resolve({
            browser: true,
            modulesOnly: true
          }),
[code]

[2019-10-07 13:31] Andarist commented on #330
You'd have to share your repository with the issue reproduced in it - without that, I can't quite help you more. It seems like maybe some rollup vs plugins compatibility issue. Please check if you are using the latest versions of everything.

[2019-10-07 13:42] blackstormx commented on #330
@Andarist  here, https://github.com/blackstormx/neoglass.ge, checked versions, everything seems to be latest. Installed every plugin and library today.

[2019-10-07 19:39] Andarist commented on #330
I've fixed your script (you've tried to pass `rollup-plugin-node-resolve` to Babel instead of to Rolluo):
[code]

Had to install `rollup-plugin-commonjs` too.

[2019-10-07 21:58] blackstormx commented on #330
@Andarist  Thank you very much! You solved my issue and made my day!

[2019-10-07 21:59] #330 closed

[2019-10-09 15:26] darran-kelinske-fivestars commented on #251
I am new to javascript and have the following issue - how did you all fix it?

[code]

[2019-10-23 15:11] northkode commented on #313
adding as a dependency still doesnt fix the unresolved dependencies for all the runtime helpers

[2019-10-28 09:46] lukastaegert commented on #303
Just a note that I am still very interested in this. At the moment, I am working on a rollup feature to allow specifying per-output plugins, for which this feature would be an awesome fit. If someone wants to pick this up, ideally it would work in a way that if you specify the option to run it in renderChunk, then the plugin would only expose hooks that are triggered per output as only those will

[2019-10-28 10:33] Andarist commented on #303
@lukastaegert I'm not sure what's the course of action here. You have a feature in the works right now that could help this particular problem here, right? How one can pick this up right now (when the feature is still under development)?

[2019-10-28 14:11] lukastaegert commented on #303
No, I have a feature in the works that would make this more useful, but even without the feature this would be useful today. There is no need to wait for it, and there should be no dependency on the new feature.

Basically what I am working on is that you can have `plugins` not only as an input option but also as an output option.

Imagine producing several outputs that do not only have different

[2019-11-07 12:11] vixeven commented on #318
@samrith-s any updates?

[2019-11-13 07:48] lukastaegert commented on #303
I have started some preliminary work on this. I hope to be able to prepare a draft PR for further discussion of the details in the next days.

[2019-11-15 15:33] lukastaegert commented on #303
Feature at #333, feedback welcome!

[2019-11-28 07:22] #303 closed

[2019-11-28 13:54] nukisman opened #334 "Bug: babel.generated is not a function"
I try to follow docs from this section https://github.com/rollup/rollup-plugin-babel#running-babel-on-the-generated-code

But `babel.generated` not exists:

rollup.config.js
[code]

[code]
package.json:
[code]

[2019-11-28 14:21] zech commented on #334
I ran into the same trap.
This is a rather new functionality (7 hours old) and there is just no new release on npm... yet.

[2019-11-28 15:07] Andarist commented on #334
Yes, sorry for that - I guess we should add an unreleased label to this for the time being. I'm going to move things forward to get this released as soon as possible, but it might take a few days.

[2019-12-02 19:28] tvvignesh commented on #318
@samrith-s Have the same issue. Struggling with this for a long time now. Any idea on how to solve this? Thanks.

[2019-12-03 20:57] Andarist commented on #334
@gingur I'm going to cut a new alpha v5 release this week so stay tuned.

[2019-12-03 22:19] gingur opened #337 "Bug: babel.generated filename missing"
When using `babel.generated`, the `filename` is not being provided to the babel options. https://github.com/rollup/rollup-plugin-babel/blob/master/src/index.js#L182. I think `outputOptions.dir` + `chunk.fileName` should give the appropriate filename.

[2019-12-03 22:34] Andarist commented on #337
We've not included this intentionally, see https://github.com/rollup/rollup-plugin-babel/pull/333#discussion_r347228883

Could you describe your use case? Why do you expect anything there and how do you want to use it?

[2019-12-04 12:50] mario-d-s opened #338 "How is Babel configured between its own config file and the options passed to the Rollup plugin?"
Hi,

I searched the issue tracker for explanation but failed to find any. To me the following is not explained properly in the readme/doc. It just says that Babel will respect any `.babelrc` or `babel.config.js*` file, but what does the final config look like?

For example, if we have in `.babelrc`:

[code]

And the object returned from `rollup.config.js` contains this:

[code]

Are the configs me

[2019-12-04 13:45] Andarist commented on #338
I’m actually not sure about the order - I would assume options passed to this plugin would be put after config items, but that is a guess.

We don’t do anything special in this regard - we just hand options to Babel so it takes care of this stuff. This should be explained here https://babeljs.io/docs/en/options#merging but seems it isn’t. Maybe worth reporting to Babel?

[2019-12-04 15:41] gingur commented on #337
in my use case, I have a babel plugin that is providing a stats file in the `post` hook that is providing meta about the current "filename".

[2019-12-04 15:46] gingur commented on #337
Example code
[code]

[2019-12-05 22:10] runarberg commented on #334
It looks like v5.0.0-alpha.0 was released on top of an 11 month old comment :confused:

[2019-12-06 09:19] atomiks commented on #319
Any updates on this?

Removing the `exclude: 'node_modules/**'` line and the subsection would be helpful. Create React App already transpiles `node_modules`, and in order for differential bundling to actually be helpful, external dependencies need to be in ES2017 source

[2019-12-06 10:13] nicolo-ribaudo commented on #319
If the recommendation is updated, it should be explicitly mentioned that compiling `core-js` and `@babel/runtime` will likely cause bugs.

[2019-12-06 11:13] samrith-s commented on #318
No updates at all. I've stopped development on that, currently, and soon will be switching back to JavaScript for that library.

[2019-12-08 18:32] jamesgpearce commented on #334
Yep,

[code]

Still gives

[code]

[2019-12-09 08:25] zech commented on #334
As you can see here https://www.npmjs.com/package/rollup-plugin-babel/v/5.0.0-alpha.0 this version is a year old and has nothing to do with the current implementation on master.

[2019-12-12 23:12] Andarist commented on #334
I've just published new `rollup-plugin-babel@next` (5.0.0-alpha.1) with this feature included - please give it a try.

[2019-12-12 23:12] #334 closed

[2019-12-13 18:03] alexmacarthur commented on #305
I'm experiencing this as well. When I output the debug information, it says it's using a completely different list of browser targets than what I specify.

[2019-12-13 18:16] Andarist commented on #305
@alexmacarthur could you prepare a repro case?

[2019-12-14 22:35] lazka opened #340 "Setting runtimeHelpers leads to error with 5.0.0"
Using `rollup-plugin-babel@next`, the following config:

[code]

results in

[code]

The previous version worked.

[2019-12-15 03:20] fubangfu commented on #260
[!] (plugin babel) SyntaxError: F:\Workspace\js\vue-ts-1\src\views\system-setup\sys-revenue-expense.vue: Unexpected token (3:16)

  1 | <template>
  2 |     <div id="app" class="view">

    |                 ^
  4 |         <button @click="fullSearch">2</button>
  5 |         <button @click="change(sre.page.pageNo+1)">3</button>
  6 |         <children>
src\views\system-setup\sys-revenue-expense.v

[2019-12-15 03:21] fubangfu commented on #260
[!] (plugin babel) SyntaxError: F:\Workspace\js\vue-ts-1\src\views\system-setup\sys-revenue-expense.vue: Unexpected token (3:16)

  1 | <template>
  2 |     <div id="app" class="view">

    |                 ^
  4 |         <button @click="fullSearch">2</button>
  5 |         <button @click="change(sre.page.pageNo+1)">3</button>
  6 |         <children>
src\views\system-setup\sys-revenue-expense.v

[2019-12-15 08:09] Andarist commented on #340
Please use `babelHelpers: 'runtime'` instead - you should get a warning in a console about it.

[2019-12-15 19:59] lazka commented on #340
Ah, thanks, it was way up in the logs before the error. Feel free to close this :)

[2019-12-15 20:45] #340 closed

[2019-12-16 21:05] gingur commented on #337
@Andarist any update or workaround you can provide? Maybe you can provide the entire `chunk` to the babel options or something? Or an alternative suggestion on how to stat an entry file on all its dependencies/async dependencies.

[2019-12-16 21:29] nicolo-ribaudo commented on #337
Note that if we don't want to provide this info as `filename`, we could abuse the `caller` option and use `caller.chunkName`.

[2019-12-17 13:03] lovemegowin commented on #305
@Andarist repro case  https://github.com/lovemegowin/luna/tree/master/packages/ekko-loading

[2019-12-17 14:26] gingur commented on #337
my workaround
[code]

[2019-12-17 14:29] Andarist commented on #337
@lukastaegert @loganfsmyth could you take a look at the use case described here and share your thoughts about how this should be approached?

[2019-12-17 20:57] Andarist commented on #338
Going to close this as the issue has been reported to Babel.

[2019-12-17 20:57] #338 closed

[2019-12-17 20:59] Andarist commented on #329
I'll give this a thought - but for now, it doesn't seem to be crucial. Going to close this now, because I'm cleaning the issues to migrate this plugin to Rollup plugins monorepo ( https://github.com/rollup/plugins ). Once that happens - this can be raised once again there. Hope you understand.

[2019-12-17 20:59] #329 closed

[2019-12-17 21:01] Andarist commented on #328
Going to close this now, because I'm cleaning the issues to migrate this plugin to Rollup plugins monorepo ( https://github.com/rollup/plugins ). Hope you understand.

This doesn't mean that I won't respond back if you answer back to me. I'm here to help you - sorry that I couldn't get to you sooner though.

So going back to topic - I think `babel-polyfill` is CJS only module with highly dynamic c

[2019-12-17 21:01] #328 closed

[2019-12-17 21:02] Andarist commented on #326
Going to close this now, because I'm cleaning the issues to migrate this plugin to Rollup plugins monorepo ( https://github.com/rollup/plugins ). Once that happens - this can be raised once again there. Hope you understand.

[2019-12-17 21:02] #326 closed

[2019-12-17 21:03] Andarist commented on #323
The reported issue in `rollup-pluginutils` has been closed because this was actually documented there. Seems like this issue can be closed too. If you have any further issues - please create a new one.

[2019-12-17 21:03] #323 closed

[2019-12-17 21:07] Andarist commented on #321
With `5.0.0-alpha.1` (soon to be released as a stable version - just need to migrate this plugin to Rollup plugins monorepo and update docs) you can disable those preflight checks by passing `skipPreflightCheck: false` to the plugin.

I believe this addresses your issue so I think this can be closed now. If you still have any other issues - please just open a new one.

[2019-12-17 21:07] #321 closed

[2019-12-17 21:09] Andarist commented on #319
I believe the ecosystem as a whole is not yet ready to change this recommendation and right now it would cause major confusion for people.

[2019-12-17 21:29] Andarist commented on #320
@ppiyush13 thanks for the repro! Seems like `babel-plugin-styled-components` implements caching its results based on the filename. That cache is global and thus this breaks in combination with our preflight check. I'm not entirely sure if this can be easily fixed - but it's worth reporting the problem to styled-components team. A potential fix would be to cache those per babel run - with a cache k

[2019-12-17 21:29] #320 closed

[2019-12-17 21:32] Andarist commented on #317
I believe this is the same issue as the one investigated here: https://github.com/rollup/rollup-plugin-babel/issues/320#issuecomment-566757103 and it should be reported to styled-components team. Sorry that you had to wait for an answer for so long.

[2019-12-17 21:32] #317 closed

[2019-12-17 21:34] Andarist commented on #318
A fix for this is rather simple - put TS plugin **before** babel plugin in your plugins array. Sorry that you had to wait for an answer for so long.

[2019-12-17 21:34] #318 closed

[2019-12-17 21:36] Andarist commented on #316
I'm not sure if I understand the issue correctly. Could you set up a repro case for this?

[2019-12-17 21:38] Andarist commented on #315
You have removed the branch containing a repro case so I can't quite take a look at this now. Going to close this issue as I'm not sure if you are still interested in this, bit if you are - then feel free to reopen with the repro case and I'll get back to you (and I promise it will be way sooner than the last time).

[2019-12-17 21:38] #315 closed

[2019-12-17 21:39] Andarist commented on #309
This is available in v5 alpha releases and will be part of the upcoming v5 release.

[2019-12-17 21:39] #309 closed

[2019-12-17 21:43] Andarist commented on #306
The OP has liked the solution posted above so I'm going to assume that the issue got resolved. If not please respond back and share a repro case - then I will be able to take a look at this.

[2019-12-17 21:43] #306 closed

[2019-12-17 21:48] Andarist commented on #305
@lovemegowin Could you describe the issue in more detail? What is the actual result? What is the expected result?

[2019-12-17 21:49] Andarist commented on #299
The repro case has not been provided for quite some time, so I assume the issue is stale and as there are no actionable points here for me - I'm going to close it.

[2019-12-17 21:49] #299 closed

[2019-12-17 22:13] Andarist commented on #268
Has been fixed by https://github.com/rollup/rollup-plugin-babel/commit/d3462bacdd6b853e08162346b77a2cfd8413160f - this will be a part of upcoming v5 release.

Yes, it's already implemented and released in 5.0.0-alpha.1

[2019-12-17 22:13] #268 closed

[2019-12-17 22:17] Andarist commented on #237
I'm not entirely sure if there is any actionable stuff for me here? Could somebody respond back if their issue is still unresolved? If yes then I would appreciate a repro case attached to the reported issue.

[2019-12-18 01:23] loganfsmyth commented on #337
Hmm, @gingur could you expand more on how the filename is consumed from the JSON? Babel's `filename` option is generally the path of the original file being compiled, not the path of the output, so with your existing code, I'd expect it to _already_ be extremely weird, since without `.generated` your JSON contains the paths of the original JS files, and with `.generated` your JSON would contain th

[2019-12-18 02:29] lovemegowin commented on #305
@Andarist Thanks for you reply .  Here is my rollup config
`// rollup.config.js
import babel from 'rollup-plugin-babel';
import nodeResolve from 'rollup-plugin-node-resolve';
import typescript from 'rollup-plugin-typescript'
import json from 'rollup-plugin-json';
import commonjs from 'rollup-plugin-commonjs';

const outputTypes = [
  { file: './es/index.js', format: 'es' },
  { file: './lib/index.

[2019-12-18 07:32] lukastaegert commented on #337
The problem from my perspective is that in the future, `filename` may no longer be available in the `renderChunk` hook or in general when Babel runs on the output. The reason is that our current hashing is problematic because it runs BEFORE `renderChunk` is run and does not respect changes in that hook. A future version will probably change this, with the side effect that we only know that chunk n

[2019-12-18 15:40] gingur commented on #337
My goal is to generate a JSON description of each entry/chunk, and the statics/dynamics that asset references. I do not care about the original src filenames, only exported output filenames and their content. My current workaround does seem to work, as `chunk.fileName` is properly formatted based on my `entryFileNames`/`chunkFileNames` specified as `[name]/[hash].js`

[2019-12-18 20:00] Andarist commented on #305
That's because you don't configure Babel to transpile `.ts` filed. You need to make use of `extensions` option passed to rollup-plugin-babel.

[2019-12-19 01:44] lovemegowin commented on #305
@Andarist Thank you !  This is the right way to resolve my confuse .

[2019-12-23 12:23] Joyzen opened #341 "babel.generated is not function"
How long do you publish the latest version?

[2019-12-23 21:05] arda-tezjon commented on #120
@ ZhongyiChen was spot on. Gotta set loose!

[2019-12-23 22:45] Andarist commented on #341
You can use `5.0.0-alpha.1` which has this feature in it. Final v5 will be released within 2 weeks (or so) under `@rollup` scope - we are at the moment migrating this plugin into plugins monorepo ( https://github.com/rollup/plugins )

[2019-12-24 01:33] Joyzen commented on #341
got it,so the documention happen to be ahead of the current npm package version...

thank for your reply and works.

[2019-12-24 09:49] Andarist commented on #341
Yes - docs were ahead of the latest release. I’ve removed those parts now to avoid confusion for others as well

[2019-12-24 09:49] #341 closed

[2019-12-24 09:51] Andarist commented on #316
As we’ve not received a repro case I’m going to close this. If you manage to create one please ping me and I will reopen this.

[2019-12-24 09:51] #316 closed

[2019-12-25 00:40] mcshaz opened #343 "Include a basic working template using babel 7"
I am trying to get the most incredibly basic example building. I have set up a repository at https://github.com/mcshaz/simple-rollup-babel-test

the most straight forward package.json I think I need is
[code]
and likewise for the rollup.config.js
[code]
but the simple example [won't build](https://github.com/mcshaz/simple-rollup-babel-test/commit/bfb8a2451931616be2145f88f993bf8cb07bc1d1/checks?che

[2019-12-25 22:07] Andarist commented on #343
This is a bug in `@rollup/pluginutils` used by `@rollup/plugin-commonjs`. I've prepared a fix for it here: https://github.com/rollup/plugins/pull/116

[2019-12-27 22:23] Andarist commented on #342
You should put a commonjs plugin **before** babel one. Otherwise, commonjs plugin might recognize some CJS files as modules (as they were already transformed by babel and some import statements could have been added to them).

[2019-12-27 22:23] #342 closed

[2019-12-28 00:42] cynecx commented on #312
I am currently looking into that example: https://github.com/htho/mweRollupBabelAsyncAwait.

It kinda works but the `Promise.resolve()` hacks seems weird and confusing (Is it just `Promise` or are other things broken too?). Has there been any progress in finding the cause of that problem?

My current work around is basically `@babel/plugin-transform-runtime`. And honestly, I don't really understan

[2019-12-28 02:23] renoirb commented on #312
I have a running example of async/await written in TypeScript, and multiple build outputs. It's also using [@babel/plugin-transform-runtime](https://github.com/renoirb/experiments-201908-rush-typescript-just-bili-monorepo/blob/master/polyfill/latency/package.json#L38)

[2019-12-28 14:41] Andarist commented on #343
The fix has been merged to `@rollup/pluginutils`. It hasn't been released yet though - I recommend waiting for that release. Going to close this issue as it doesn't belong to this repository, hope you understand.

[2019-12-28 14:41] #343 closed

[2020-01-07 14:17] martinmckenna opened #344 "[Question]: How to Output All Transpiled Files"
Hi I'm wondering how to go about using this plugin so that I can end up with an output like so:

[code]

I'd like to have both the bundled code in the root, while still able to access the transpiled code in their own modules. My goal is to be able to give myself the option to use both of the following import options when using my module:

[code]

and

[code]

[2020-01-07 15:46] nicolo-ribaudo commented on #344
Isn't this the opposite of what rollup does? You can directly use `@babel/cli`, or `gulp`+`gulp-plugin-babel`.

[2020-01-07 16:27] martinmckenna commented on #344
^^ yep. and if the answer is "just use the babel cli," that's a perfectly fine answer. I was just hoping there'd be an easy config option to turn on that I'm not seeing.

[2020-01-10 13:09] poradz commented on #237
@Andarist you can check this out with YetiForceCRM

1. Clone https://github.com/YetiForceCompany/YetiForceCRM
2. In _public_html/src/package.json_ update _rollup-plugin-babel_ to v4
3. In public_html/src run
`yarn install`
`yarn run minify-js`
4. The error will appear :)

[2020-01-11 23:04] Andarist commented on #344
There is this - https://rollupjs.org/guide/en/#preservemodules

However, you might not like to expose the **whole** directory structure. I think the best would be to finetune what entries do you want to support and use multiple `input`s ( https://rollupjs.org/guide/en/#input ) to output multiple output files. Somewhat achieving what you want but also hiding most of the implementation details.

Pic

[2020-01-14 06:32] lili21 opened #345 "how to transpile external dependency ?"
below is my rollup config, doesn't work as expece

[code]

source code

[code]

babel config

[code]

[2020-01-14 06:35] lili21 commented on #345
the `idlize` is ESM type, so I have to transpile it by babel. the output file contain the `idlize` dependency, but just the source code. not be transpired at all.

[2020-01-14 08:10] TrySound commented on #345
Maybe the problem is extensions list? You restricted babel to not touch mjs

[2020-01-14 08:36] lili21 commented on #345
Thanks.

[2020-01-14 08:36] #345 closed

[2020-01-16 06:09] Binote opened #346 "My Babel is configured with the @babel/plugin-proposal-class-properties plug-in, which allows you to use arrow functions in class under webpack, and error reports under rollup"
### Version information for key packages:
[code]

### Error message：
[code]

[2020-01-16 17:32] Andarist commented on #346
Please provide a runnable repro case for your problem.

[2020-01-20 23:32] amilajack opened #347 "rename package name to match @rollup npm scope"
Other rollup plugins seem to have been migrated to using the `@rollup/plugin-*` convention. Was wondering if we could migrate this plugin to that convention as well.

[2020-01-21 08:43] TrySound commented on #347
https://github.com/rollup/plugins/pull/108

[2020-01-21 08:49] Andarist commented on #347
Yes - this effort is already in progress.

[2020-01-21 08:49] #347 closed

[2020-01-22 15:22] brettz9 opened #348 "Problem with ESM import syntax with pluginutils"
Hi,

Thanks for the very handy plugin.

As per https://github.com/rollup/plugins/issues/171 , it seems that as long as pluginutils is exporting a default (only), your ESM syntax at https://github.com/rollup/rollup-plugin-babel/blob/ae788a383be8e70d1efda51f7a42277fffd79f9a/src/index.js#L2 should by importing it with a syntax like this instead:

[code]

And actually, with the old version of pluginut

[2020-01-22 15:24] brettz9 commented on #348
Btw, while it may work with some compilers or configurations, the above is required for those which adhere strictly to ESM.

[2020-01-22 15:54] Andarist commented on #348
There is an ongoing effort to migrate this plugin to the plugins monorepo - https://github.com/rollup/plugins/pull/108 . I'm afraid we won't be fixing this for v4, but I will make sure that it's fixed for the upcoming v5 (which is going to be released when this mentioned PR lands). Hope you understand.

[2020-01-22 15:54] #348 closed

[2020-01-28 13:07] g-zachar commented on #313
Is there any followup to this? I'm also experiencing this issue.

[2020-02-01 02:53] jayu commented on #306
Above solution works, however it is worth adding it to documentation IMO

[2020-02-05 21:22] F1LT3R commented on #312
Thanks for putting this together guys! Awesome stuff. This was a confusing process indeed.

[2020-02-10 22:45] mcarlucci commented on #313
+1

[2020-02-10 22:58] nicolo-ribaudo commented on #313
Which file is requiring core-js?

[2020-02-11 21:21] Donnevtis commented on #313
I'd resolved this problem with addition exclude option for babel-plugin.

[2020-02-11 21:34] Donnevtis commented on #313
I'd solved this problem by adding 'exclude' option for babel-plugin.
exclude: 'node_modules/core-js/**',
Attention: for yarn or pnpm could be need another path.
Babel shouldn't transpilling core-js code.

[2020-02-13 01:32] masx200 opened #349 "Cannot find type declaration file '@types/rollup-plugin-babel'"
Cannot find type declaration file

'@types/rollup-plugin-babel'

[2020-02-13 10:20] Andarist commented on #349
That's because this package doesn't exist. We plan to convert `rollup-plugin-babel` to TS in the future, so it should come with types included - but for now, I'm closing this issue.

[2020-02-13 10:20] #349 closed

[2020-02-20 18:42] milobluebell opened #350 "configFile option does not work"
i have figured out the config file,but it does not work:
[code]
babel.config.js isn't the config file of rollup babel , why and how to fix it? ty.

[2020-02-22 14:22] herman-rogers commented on #305
I had the same issue and was able to get it working with a simple string, not sure why.

[code]

[2020-02-28 12:01] GerardRodes opened #351 "sourcemaps incorrect"
The sourcemaps of my final bundle contain transpiled code, when shouldn't

The scenario is the following
`App` => `dependency`

Both packages with following configuration
[code]
and
[code]

And then when inspecting `App` source code on the browser, transpiled code from `dependency` is shown
[code]

[2020-03-02 10:57] micaelmbagira opened #352 "proposal-private-methods skips @rollup/plugin-commonjs when injecting `import` statement"
I am bundling a project with the following rollup config

[code]

However the `commonjs` plugin (which resolves `require` statements) is not working -- basically `require('./foo')` is not being replaced by the actual source.

I found that it's because I am using `'@babel/plugin-proposal-private-methods'` which injects these two lines (I had to tap in `rollup/plugin-commonjs` to find that out).
For

[2020-03-02 11:14] nicolo-ribaudo commented on #352
It's because rollup detects those files as modules (because of the injected `import` statements`), and thus doesn't replace `require` that in modules is not the CommonJS function.

You can tell Babel that you are _not_ using modules using the `soureType` option:

[code]

Note that if this problem is only for code in `node_modules` and you are using ES modules in your source code, you can configure

[2020-03-02 14:49] micaelmbagira commented on #352
@nicolo-ribaudo indeed this causes a problem only for the code produced by babel
[code]

In any case, `sourceType: "script",` does not work and throws this error

Consider renaming the file to '.mjs', or setting sourceType:module or sourceType:unambiguous in your Babel config for this file.
  1 | class Foo extends Bar {};

which I actually don't understand since my code is not using `import/export

[2020-03-02 15:09] nicolo-ribaudo commented on #352
Ok, try setting `sourceType` to `unambiguous`. It doesn't work in some edge cases, but if you find them you can special-case the files where it's throwing (or keeping "require") using `overrides`.

[2020-03-02 16:00] micaelmbagira commented on #352
@nicolo-ribaudo `unambiguous` worked here. Let's see if it causes any problems later. It seems a bit odd that we need this step even though the problematic code is generated by babel 😅but it's fine for now.

[2020-03-02 16:00] #352 closed

[2020-03-02 16:54] nicolo-ribaudo commented on #352
Well, Rollup expects native ES modules. The `rollup-plugin-commonjs` package internally transforms CommonJS to ESM before giving it to rollup. Then it's kinda expected that Babel (with `rollup-plugin-babel`) generates ESM imports :sweat_smile:

[2020-03-03 08:18] micaelmbagira commented on #352
@nicolo-ribaudo fair enough, I think I will just use `import`/`export` syntax, it seems like a better fit than setting the `sourceType` for this use case.

[2020-03-06 15:27] limonte opened #353 "Support rollup v2"
v2 has been released: https://github.com/rollup/rollup/releases/tag/v2.0.0 and with v2 this warning is shown:

[code]

[2020-03-07 09:52] Andarist commented on #353
I've just published 4.4.0 which allows for Rollup 2 in the peer dependency range.

[2020-03-07 09:52] #353 closed

[2020-03-08 18:03] AzadKshitij opened #354 "Failed to locate module "rollup" from ".""
I am not able to pack my electron app

#package.json
{
  "name": "visual_code",
  "version": "1.0.0",
  "description": "This is a good text editor for html and other languages also",
  "main": "main.js",
  "scripts": {
    "start": "electron .",
    "build": "rollup -c",
    "package": "electron-packager . dist --platform=win32 --arch=x64 --app-version=1.0.0"
  },
  "keywords": [
    "visual_code"

[2020-03-09 18:36] victoriafrench opened #355 "Release Notes for 4.4.0?"
The github releases and the changelog do not describe what has changed for version 4.4.0. Could we get information on this please.

[2020-03-09 22:26] Andarist commented on #355
The release has just relaxed the peer dep range - allowing recently released Rollup 2.

[2020-03-15 17:41] LarsDenBakker opened #357 "Chunk hash based on source code when using generated"
When using v5's `.generated` option, the chunk hashes are based on the the original source code rather than the babel output. This can be problematic when changing the babel config or when plugins update to fix bugs. Is it possible for generate/output plugins to change chunk hashes?

[2020-03-16 22:35] dwiyatci commented on #210
@Andarist Do you know the reasoning as to "why" the order matters here? Thought the commonjs plugin will only convert CJS to ESM before Rollup can process them... 🙄

[2020-03-17 08:08] #355 closed

[2020-03-17 08:10] Andarist commented on #210
@dwiyatci yes, that's a gist - but commonjs plugin actually tries to parse your source code to determine if it's a script (commonjs) or a module (esm), so it has to be able to parse it. If you are using some non-standard syntax then it might fail if you hand it source file rather than babel output.

[2020-03-17 09:10] dwiyatci commented on #210
@Andarist Ah, got it now. Thanks! But if I set `modules: false` in my `preset-env` options, would it be conflicting or breaking that setup again then (since Babel won't transpile the ESM module syntax to CJS)?

[2020-03-17 09:16] nicolo-ribaudo commented on #210
You can use the `include` option of the `commonjs` plugin to apply it only to files in `node_modules` (that usually are the only ones containing CommonJS): https://github.com/rollup/plugins/tree/master/packages/commonjs#include

[2020-03-17 16:05] dwiyatci commented on #210
@nicolo-ribaudo Gotcha. Thank youu 🙇🏻

[2020-03-18 00:39] goepi opened #358 "Unexpected token on JSX despite using babel preset for react"
I created a branch on a [simple example repo](https://github.com/goepi/lru-test/tree/babel) to show this issue. Note that it is branch `babel` in that repo to reproduce the issue below.

I have a lerna monorepo.

It has a packages directory, and one of the packages there is called `component-library`, containing a simple React component.

That package has a `rollup.config.js`:

[code]

When I try

[2020-03-18 00:43] #358 closed

[2020-03-25 18:10] nerdess opened #359 "simple setup - am i missing sth?"
i am trying to get the plugin to transpile the code inside public/bundle.js from ES6 to ES5 but it has no effect, the code is still ES6.

my rollup.config.js is quite simple:

[code]

am i missing sth? e.g. is a .babelsrc with additional configuration required?

[2020-03-29 12:07] nerdess commented on #313
i am also getting the circular dependencies error even though i've excluded core-js from babel. my babel config inside rollup.config.js:

[code]

any more hints/ideas?

[2020-03-29 12:12] nerdess commented on #313
ah sorry fixed, forgot to add     "core-js": "^3.6.4" as a dependency inside package.json

[2020-03-29 13:59] nerdess commented on #359
fixed it now using this guide: https://blog.az.sg/posts/svelte-and-ie11/

[2020-03-29 13:59] #359 closed

[2020-03-29 14:02] nerdess commented on #305
i got it working using this guide: https://blog.az.sg/posts/svelte-and-ie11/

[2020-04-06 20:31] dilyanpalauzov opened #360 "Make this output plugin"
In Rollup a single entry can contain several outputs and each otput can have its own output plugins.

Please make possible to use rollup-plugin-babel as output plugin, so that a single rollup configuration can create both module and nomodule version (after passing different options/preset to the rollup-plugin-babel() in rollup.config.js)

[2020-04-07 12:54] FANZHETWO commented on #251
Why hasn't this problem been solved

[2020-04-08 09:53] johannes-z opened #361 "bundle requires core-js internals"
My final bundle has a lot of statements like the following, even though I'm using `@rollup/plugin-node-resolve` and `@rollup/plugin-commonjs`:

[code]

I've created a repro here: https://github.com/johannes-z/rollup-babel-yarn
This is the bundle generated: https://github.com/johannes-z/rollup-babel-yarn/blob/master/packages/consumer/lib/main.js

For babel I'm using `@babel/preset-env` with `useBui

[2020-04-08 13:16] nicolo-ribaudo commented on #361
It's because in `packages/consumer/rollup.config.js` you are only excluding `consumer`'s `node_module`s, but `core-js` comes from the top-level `node_modules`. For this reason, Babel injects imports to `core-js` in `core-js` itself, causing problems.

You can fix it by using `exclude: /node_modules/`, which will ignore all the `node_modules` folders.

[2020-04-08 14:07] johannes-z commented on #361
Thanks, that was it.

[2020-04-08 14:07] #361 closed

[2020-04-12 08:32] LarsDenBakker opened #362 "Allow excluding manual chunks when using .generated"
I am using the v5 `.generated` option, and I notice it doesn't allow excluding a chunk from compiling.

Parts of my project are already prebuilt, I just want to bundle this. I am using manual chunks to separating this code, it should be possible to exclude this based on the facade module id.

I realize this project is being moved to the plugins monorepo, will move the issue there when it's done.

[2020-04-12 08:35] Andarist commented on #362
Could u create a repro case for this? Im not that well-versed in those advanced possibilities of Rollup and it would be easier for me to understand this if I could look at your input files, config and generated code

[2020-04-12 08:49] LarsDenBakker commented on #362
This is an example setup: https://repl.it/repls/WigglySpiffyDatabase

I want to exclude big-library.js from babel and terser, since it's already es5 and minified. manualChunks allows telling rollup to keep it in a separate chunk, so that you can exclude it. Or so I thought, because unfortunately I see that the faceModuleId is not set for manual chunks, and the fileName is the minified filename. Te

[2020-04-12 20:24] ClassicOldSong commented on #251
Installing using yarn could probably get this kind of error temporary solved but yarn could probably cause more issues so I'm don't think it as a good solution. This probably not an issue by this plugin but rollup or npm.

[2020-04-13 06:20] LarsDenBakker commented on #362
It seems that we should use the `.name` field for this. See: https://github.com/rollup/rollup/issues/3497

[2020-04-13 07:09] LarsDenBakker opened #363 "Update peerDependency on rollup"
When installing v5 with rollup v2 it throws a warning because v2 is not allowed from this project's peer dependencies. Could you update this to support rollup v2?

[2020-04-13 08:23] Andarist commented on #363
I've published this as v5.0.0-alpha.2

[2020-04-13 08:23] #363 closed

[2020-04-13 09:01] LarsDenBakker commented on #363
Thanks!

[2020-04-17 05:09] simkessy commented on #229
@NathanielHill  thanks for an actual answer

[2020-04-19 15:47] huzedong2015 commented on #360
@Andarist
I have the same problem
rollup-plugin-babel@next or @latest

[2020-04-19 19:32] Andarist commented on #360
It's possible to use this as output plugin with when using `next` version. I hope to get it released as stable `@rollup/plugin-babel` soon - see the migration PR here: https://github.com/rollup/plugins/pull/108

[2020-04-25 04:05] CrashyBang opened #364 "Does include exclude everything not listed in the array/pattern?"
I was looking at #323 and want to do something similar, my current solution is:

[code]

My question is does this explicitly exclude all other `node_modules`?

[2020-04-29 07:07] Andarist commented on #364
Yes, if you specify `include` pattern then by nature only those files are included which means that everything else is excluded.

[2020-04-29 07:07] #364 closed

[2020-04-29 07:11] Andarist commented on #360
The migration is complete and the version supporting this has been released as `@rollup/plugin-babel@^5`

[2020-04-29 07:11] #360 closed

[2020-04-29 07:15] Andarist commented on #354
The issue lacks sufficient information. Please create a runnable repro case so we could check your setup more easily. When you do so - please open a new issue in this repository: https://github.com/rollup/plugins , as this plugin has been migrated over there.

[2020-04-29 07:15] #354 closed

[2020-04-29 07:16] Andarist commented on #351
The issue lacks sufficient information. Please create a runnable repro case so we could check your setup more easily. When you do so - please open a new issue in this repository: https://github.com/rollup/plugins , as this plugin has been migrated over there.

[2020-04-29 07:16] #351 closed

[2020-05-07 09:35] Misaka-0x447f opened #365 "Cannot specify option 'extensions'"
![image](https://user-images.githubusercontent.com/15797507/81279014-1a09f180-9089-11ea-94ea-6165bfc6edf7.png)
Heres what I got. I did a console log for config the plugin got.

[2020-05-07 18:37] loganfsmyth commented on #365
`extensions` is an option to `rollup-plugin-babel`, not an option to Babel itself, so you need to pass it directly to the plugin from via your Rollup configuration file.

[2020-05-07 18:37] #365 closed, assigned to nobody

[2020-05-08 09:59] Misaka-0x447f commented on #365
Wait... You can only merge plugin options and babel options in this plugin...

[2020-05-08 11:53] Andarist commented on #365
It looks like you have tried to pass `extensions` via Babel config file but you should pass it to `rollup-plugin-babel` itself

[2020-05-09 19:31] tomsturge opened #366 "["

[2020-05-09 19:31] tomsturge opened #367 "[#"

[2020-05-09 19:31] #367 closed, assigned to nobody

[2020-05-09 19:31] #366 closed, assigned to nobody

[2020-05-09 19:39] tomsturge commented on #366
Sorry, I was cleaning my keyboard and I triggered a bunch of Github shortcuts...

[2020-05-10 09:17] Andarist commented on #350
Please always try to share a repro case in a runnable form - either by providing a git repository to clone or a codesandbox. OSS maintainers usually can't afford the time to set up the repro, even if exact steps are given.

Once you do that please open a new issue at https://github.com/rollup/plugins because we've migrated this plugin there.

[2020-05-10 09:17] #350 closed

[2020-05-10 09:17] Andarist commented on #346
Closing because a runnable repro case has not been shared since January

[2020-05-10 09:17] #346 closed

[2020-05-10 09:18] Andarist commented on #344
Closing because I don't think there is anything actionable on our side here right now.

[2020-05-10 09:18] #344 closed

[2020-05-10 09:20] #305 closed

[2020-05-10 09:26] Andarist commented on #237
@poradz sorry for not responding earlier. I've missed your comment - the linked repro case is linking to the latest commit of your base branch and some time has passed since then so I won't dive into it now, because your setup probably has changed significantly since then and maybe you have already solved your issue. If the issue persists - please open a new issue at https://github.com/rollup/plug

[2020-05-10 09:26] #237 closed